[2016-11-02 17:20] AJMiller opened #14 "Documentation for UIAlertController is backwards"
The descriptions for https://github.com/omaralbeik/SwifterSwift/wiki/uialertcontroller-extensions addAction and addTextField are reversed.

[2016-11-02 17:46] omaralbeik commented on #14
@AJMiller Thank you!, documentation updated

[2016-11-02 17:46] #14 closed

[2016-12-12 03:27] JiLiZART opened #20 "Swift PM support"
Since Swift 3 introduce Package Manager, any plans to support?

[2016-12-12 06:59] omaralbeik commented on #20
@JiLiZART I was thinking about this, SwiftPM and Carthage support is coming soon.
I'll keep you updated when it is supported

[2016-12-12 07:42] KBMatveev opened #22 "Help please"
Then use  - `let someString = String(" 123 ").trimmed`
have error - `Value of type "String?" has no member 'trimmed'`

Why?

[2016-12-12 07:43] omaralbeik commented on #22
@KBMatveev did you add "import SwifterSwift" to the top of the file?

[2016-12-12 07:45] KBMatveev commented on #22
No. But `let today = Date().beginning(of: .day)! ` work without import. And `startDate = today.adding(.year, value: -1)` too

[2016-12-12 07:46] omaralbeik commented on #22
@KBMatveev some time some extensions don't work without import, please import SwifterSwift at every file you want to use it in, and let me know if you still have the problem

[2016-12-12 07:50] KBMatveev commented on #22
`import SwifterSwift - No Such module 'SwifterSwift'`
I add directory 'Extensions' manually.

"Manually
Add the extensions folder to your Xcode project to use all extensions, or a specific extension."

[2016-12-12 07:50] omaralbeik commented on #22
@KBMatveev and if you didn't clean and rebuild the project from the "Product" menu after installing the pod, it's also preferred to do that

[2016-12-12 07:52] omaralbeik commented on #22
@KBMatveev Then please make sure to check "Copy items if needed" and "Add to targets" checkboxes when adding the files to your xcode project

[2016-12-12 08:02] KBMatveev commented on #22
![2016-12-12 10 58 42](https://cloud.githubusercontent.com/assets/19492758/21091862/010f0380-c05a-11e6-8261-30bbecbdb675.png)

Not work. In edit mode XCode found and show trimmed extension

![2016-12-12 11 00 49](https://cloud.githubusercontent.com/assets/19492758/21091907/46024664-c05a-11e6-9b62-fb537fa6a0c9.png)

When build - error

![2016-12-12 11 01 36](https://cloud.githubusercontent.com/asse

[2016-12-12 08:04] omaralbeik commented on #22
@KBMatveev I think the code should be
`let someString = String(" 123 ")?.trimmed`
trimmed is a **String** extension not a **String?** extension
Please try adding ? and let me know if this fixes the problem

[2016-12-12 08:06] KBMatveev commented on #22
Not work
![2016-12-12 11 05 45](https://cloud.githubusercontent.com/assets/19492758/21092028/05a214f4-c05b-11e6-9a41-1f8abdb5a594.png)

[2016-12-12 08:10] omaralbeik commented on #22
@KBMatveev 🤔, are you using xcode 8 with swift 3?

[2016-12-12 08:16] KBMatveev commented on #22
Of course. :-)
![2016-12-12 11 16 27](https://cloud.githubusercontent.com/assets/19492758/21092286/75266e28-c05c-11e6-8133-fc2bd3d44a81.png)

[2016-12-12 08:21] KBMatveev commented on #22
DateExtensions work good, UITableViewExtensions too, trouble only with SringExtensions

[2016-12-12 08:22] omaralbeik commented on #22
@KBMatveev Then I assume the StringExtensions.swift file is not added to the target, could you please delete it, and re-add it to project while making sure to add it to target and copy if needed <img width="1127" alt="viewcontroller_swift" src="https://cloud.githubusercontent.com/assets/8127757/21092373/a52331ea-c054-11e6-9543-2e8301a67419.png">

[2016-12-12 08:30] KBMatveev commented on #22
I add the entire directory "Extensions", so it is unlikely that some files were added as DateExtensions, and some do not. But it's good. Will make again.
![2016-12-12 11 27 15](https://cloud.githubusercontent.com/assets/19492758/21092524/fcecd454-c05d-11e6-81ce-64a67a74341e.png)
![2016-12-12 11 28 58](https://cloud.githubusercontent.com/assets/19492758/21092560/36cf2f96-c05e-11e6-8222-8b09ad2e0e5f

[2016-12-12 08:33] KBMatveev commented on #22
![2016-12-12 11 32 35](https://cloud.githubusercontent.com/assets/19492758/21092650/b90a481a-c05e-11e6-9f24-ece1ce58c094.png)

[2016-12-12 08:37] omaralbeik commented on #22
@KBMatveev weird!! , the StringExtensions.swift file follows the same structure of all other extensions files, and it is public

is this code working for you?
`let someString = String(" 123 ")!.trimmingCharacters(in: CharacterSet.whitespacesAndNewlines)`

[2016-12-12 08:41] omaralbeik commented on #22
@KBMatveev I'm trying to understand what is causing the problem in your end, I've tested this with multiple projects, as I see in the first picture you sent the autocompletion is completing the trimmed for you, which means xcode can see the file!
do you have another string method or property called trimmed somewhere else in your project?

[2016-12-12 08:41] KBMatveev commented on #22
Yes. Look second string.
![2016-12-12 11 38 31](https://cloud.githubusercontent.com/assets/19492758/21092839/bf708e20-c05f-11e6-8a61-3f839af2ad5b.png)
Had to pull it out Stringextension. Works.
Must be `let rt = region.trimmed`

[2016-12-12 08:43] omaralbeik commented on #22
@KBMatveev is the problem solved ?

[2016-12-12 08:44] KBMatveev commented on #22
I have not tried everything. Reverse() does not work.
![2016-12-12 11 43 41](https://cloud.githubusercontent.com/assets/19492758/21092972/5cd862f0-c060-11e6-87d6-8992b39fd565.png)
![2016-12-12 11 44 06](https://cloud.githubusercontent.com/assets/19492758/21092961/51d11514-c060-11e6-96b6-d8fa3d112871.png)

[2016-12-12 08:46] omaralbeik commented on #22
@KBMatveev I don't know what is happening in your end, everything is working correctly for me, I'd be glad to check it myself with teamviewer if you want

[2016-12-12 08:49] KBMatveev commented on #22
I replaced trimmed on trimmingCharacters. It worked, but hardly a solution to the problem.

You want to connect via TeamViewer?

[2016-12-12 08:50] TofPlay opened #23 "Carthage support"
Hi,
For iOS projets it's will be great to make your component [Carthage](https://github.com/Carthage/Carthage) compatible

Take a look at these articles:
- [Ruthlessly Simple Dependency Management with Carthage](https://realm.io/news/swift-dependency-management-with-carthage/)
- [Carthage Tutorial: Getting Started](https://www.raywenderlich.com/109330/carthage-tutorial-getting-started)
- [Making C

[2016-12-12 08:51] omaralbeik commented on #23
@TofPlay Sure, Carthage will be added in the next release,
I'll let you know when it's added here
Thank you!

[2016-12-12 08:52] omaralbeik commented on #22
@KBMatveev I'll try to check what is causing the problem if you want via teamviewer

[2016-12-12 08:55] KBMatveev commented on #22
Send password via eMail

[2016-12-12 09:08] omaralbeik commented on #22
@KBMatveev Glad your problem is fixed, I think the problem is when adding files from the file menu, they didn't get added to target for some reason, dragging the files to the project, always shows you the confirmation menu, where you can double check that files are added to your target

[2016-12-12 09:08] #22 closed

[2016-12-12 17:08] omaralbeik commented on #23
@TofPlay Carthage support added!
Thank you for your feedback.

[2016-12-12 17:08] #23 closed

[2016-12-13 02:14] wudijimao opened #33 "MD file error"
I found something wrong in the document.
NSAttributedString extensions    link  to nothing
UIAlertController extensions  link to NSAttributedString extensions

[2016-12-13 02:21] wudijimao opened #34 "About the "Coding Style""
As I know, In Objective-C, Extension functions often write with a fix prefix.  like "sd_xxx".   I think swift extension should be do it as the same to forbidden conflict to other's extension?

[2016-12-13 06:16] omaralbeik commented on #34
@wudijimao Thank you for your comment, We decided to make all extensions in SwifterSwift look like native functions as the [Swift API Design Guidelines](https://developer.apple.com/videos/play/wwdc2016/403/) recommends. (Thats what makes SwifterSwift great actually).
All properties and functions coming from SwifterSwift have the **SwifterSwift:** prefix in their description, so you know where they

[2016-12-13 06:16] #34 closed

[2016-12-13 06:23] omaralbeik commented on #33
@wudijimao fixed, thank you!

[2016-12-13 06:23] #33 closed

[2016-12-13 07:06] songhailiang opened #36 "Is this a mistake?"
In DateExtensions, for property 'year', why is the 'second' parameter set to newValue ?
Is this a mistake?
[code]

[2016-12-13 07:13] #36 closed

[2016-12-13 07:14] omaralbeik commented on #36
@songhailiang Yes, It's an unintended mistake, fixed in release 1.3.5 and merged with master.
Thank you!

[2016-12-13 08:11] songhailiang commented on #36
Aha!  The same mistake in 'month'

[2016-12-13 08:35] omaralbeik commented on #36
@songhailiang fixed

[2016-12-14 05:32] bryanbartow opened #43 "Typo in Wiki"
There's a typo on the UINavigationItem Extensions page. The word navigation in the description column is misspelled.

[2016-12-14 06:03] omaralbeik commented on #43
@bryanbartow Corrected, thank you!

[2016-12-14 06:03] #43 closed

[2016-12-14 10:32] omaralbeik opened #44 "DateExtensions: Adding calendar to date"
In DateExtensions:
dates don't have calendars. Adding a calendar property to Date that simply returns Calendar.current is misleading and also redundant.

[2016-12-14 15:15] bastianschilbe opened #45 "UIView isVisible"
The property returns true is it's not visible. Is that intended?

[2016-12-14 15:18] bastianschilbe opened #46 "UIView fadeIn fadeOut"
Seems like fadeIn is setting the alpha to 0 and fadeOut is setting the alpha to 1. Is that correct?

[2016-12-14 15:21] bastianschilbe opened #47 "UIView rotate(toAngle"
This method will reset all other transformations applied to the view. UIView rotate(byAngle behaves differently

[2016-12-14 18:26] pvtmert commented on #46
alpha = 1 means it is transparent (FFxxxxxx) and no alpha (00xxxxxx) means it is opaque, it is intended functionality and general logic

[2016-12-14 18:36] pvtmert commented on #47
looks like [UIViewExtensions.swift](../blob/master/SwifterSwift/SwifterSwift/Extensions/UI/UIViewExtensions.swift) problem with override or animation stuff at [line 316](../blob/master/SwifterSwift/SwifterSwift/Extensions/UI/UIViewExtensions.swift#L316) and [line 336](../blob/master/SwifterSwift/SwifterSwift/Extensions/UI/UIViewExtensions.swift#L336)

[2016-12-14 18:42] bastianschilbe commented on #46
https://developer.apple.com/reference/uikit/uiview/1622417-alpha

Sorry but the docs say it's the other way around.

[2016-12-14 18:44] pvtmert commented on #46
oops then fix is on the way :)

[2016-12-14 18:47] bastianschilbe commented on #46
Cool 8)

[2016-12-14 20:55] omaralbeik commented on #45
@bastianschilbe This method will be removed in the next release, until we can find a way to do it with fixing current problems.

[2016-12-14 20:55] #45 closed

[2016-12-14 21:17] omaralbeik commented on #47
@bastianschilbe fixed in #48, Thank you for reporting.

[2016-12-14 21:17] #47 closed

[2016-12-14 21:18] omaralbeik commented on #46
@bastianschilbe fixed in #48, Thank you for reporting.

[2016-12-14 21:18] #46 closed

[2016-12-14 21:46] omaralbeik commented on #44
@pvtmert I think we should do some researching on this to find a better way to do it in future releases

[2016-12-14 21:46] #44 closed

[2016-12-16 02:04] lenmoyouziJiangjun opened #49 "Unable to find SwifterSwift"
pod search SwifterSwift
[!] Unable to find a pod with name, author, summary, or description matching `SwifterSwift`

[2016-12-16 06:54] omaralbeik commented on #49
@lenmoyouziJiangjun
https://cocoapods.org/pods/SwifterSwift

<img width="729" alt="terminal" src="https://cloud.githubusercontent.com/assets/8127757/21254322/2f7bbfc2-c36d-11e6-952d-ea11ceeb8c47.png">

[2016-12-16 06:55] #49 closed

[2016-12-18 07:57] omaralbeik opened #50 "fix selected color in UITabBarExtensions"

[2016-12-19 14:29] rpural opened #51 "Inconsistent naming..."
Given the code:

	public var nearestHourQuarter: Date {
...
	public var nearestHalfHour: Date {

Shouldn't the first function be named "nearestQuarterHour", to match nearestHalfHour? Truthfully, when I was reading the code, I thought the function was named incorrectly even before I got to the second function. It just seems like it would be better to be consistent.

[2016-12-19 14:31] omaralbeik commented on #51
@rpural I agree with you!
Will be updated in the next release

[2016-12-19 17:26] omaralbeik opened #52 "make Date initializers optional instead of returning Date() in DateExtensions.swift"

[2016-12-19 22:47] omaralbeik commented on #52
Fixed in #54

[2016-12-19 22:47] #52 closed

[2016-12-19 22:47] omaralbeik commented on #51
Fixed in #54

[2016-12-19 22:47] #51 closed

[2016-12-19 22:48] omaralbeik commented on #50
Fixed in #54

[2016-12-19 22:48] #50 closed

[2016-12-20 08:38] pieterclaerhout opened #56 "tvOS support"
It would be nice if you could update the podspec to allow usage of this in a tvOS project as well.

Thanks,

pieter

[2016-12-20 08:43] omaralbeik commented on #56
@pieterclaerhout I think adding tvOS is not only updating the podspec, we have to test each extension in a tvOS target to make sure it works.
I'm working to bring macOS and tvOS support in version 2, but due  to my limited time and many projects nowadays this might take some time.
Please let me know if you are interested in helping on this

Thanks.

[2016-12-26 23:52] omaralbeik commented on #20
@JiLiZART Swift Package Manager support added in v1.4

[2016-12-26 23:52] #20 closed

[2017-01-06 09:31] muescha opened #74 "UITableView .indexPathForLastRow is wrong"
https://github.com/omaralbeik/SwifterSwift/blob/development/Source/Extensions/UI/UITableViewExtensions.swift#L16

current implementation is wrong:
[code]

it should be:
[code]

[2017-01-06 09:33] muescha opened #75 "naming is wrong: indexPathForLastRow(in section: Int)"
https://github.com/omaralbeik/SwifterSwift/blob/development/Source/Extensions/UI/UITableViewExtensions.swift#L49

naming should be equal to other `inSection` parameter namings

this:
[code]

should be:
[code]

[2017-01-06 09:52] muescha opened #76 "missing implementation in UICollectionView. indexPathForLastItem"
https://github.com/omaralbeik/SwifterSwift/blob/development/Source/Extensions/UI/UICollectionViewExtensions.swift#L20

i miss the implementation here:
[code]

should be:

[code]

[2017-01-06 09:54] muescha opened #77 "naming is wrong in indexPathForLastItem(in section: Int)"
https://github.com/omaralbeik/SwifterSwift/blob/development/Source/Extensions/UI/UICollectionViewExtensions.swift#L49

the naming should be equal as other `inSection` parameter naming:

[code]

should be
[code]

[2017-01-06 10:53] omaralbeik commented on #74
[code]
@muescha True, however the above code is a bit repetitive and didn't work because an optional IndexPath being passed method instead of row

I refactored the code to:
[code]

Will change it in the next release, thank you!

[2017-01-06 10:55] muescha commented on #74
yes - that is much shorter :)

[2017-01-06 11:01] omaralbeik commented on #75
@muescha Updated names in all UITableViewExtensions and UICollectionViewExtensions methods. will merge changes into master in the next release.
Thank you!

[2017-01-06 11:02] omaralbeik commented on #77
@muescha Updated names in all UITableViewExtensions and UICollectionViewExtensions methods. will merge changes into master in the next release.
Thank you!

[2017-01-06 11:02] #77 closed

[2017-01-06 11:02] #74 closed

[2017-01-06 11:02] #75 closed

[2017-01-06 11:06] omaralbeik commented on #76
@muescha Added, will be merged with master in the next release, Thank you!
[code]

[2017-01-06 11:06] #76 closed

[2017-01-09 19:17] omaralbeik commented on #56
Released version 1.4.5 with tvOS support, thanks to @pawurb.

[2017-01-09 19:17] #56 closed

[2017-01-09 22:40] omaralbeik opened #81 "watchOS support"

[2017-01-09 22:40] omaralbeik commented on #81
@pawurb Could you help please.

[2017-01-10 11:01] pawurb commented on #81
Sure, will look into it. AFAIK testing watchOS is not as straightforward because out of the box it does not support test targets, but alamofire does it somehow so will try to copy their approach.

[2017-01-10 11:02] omaralbeik commented on #81
@pawurb That would be great, thank you!

[2017-01-10 13:13] pawurb opened #84 "Add test coverage info"
More fancy badges needed ;)

https://github.com/realm/SwiftCov

[2017-01-10 13:15] pawurb opened #85 "Fix travis tests"
Currently build is displayed as passing but looking at the travis logs https://travis-ci.org/omaralbeik/SwifterSwift tests are not executing. Looks like the following commit broke travis config: https://github.com/SwifterSwift/SwifterSwift/commit/e1d7bc4c65e81fd299e99af37b6f1157fc110a4c

[2017-01-10 20:30] omaralbeik commented on #81
@pawurb watchOS support added in v1.4.6, thanks for the great work!

[2017-01-10 20:30] #81 closed

[2017-01-11 09:16] omaralbeik commented on #85
@pawurb I needed to grant Travis access to repo again since I moved the project repo from my personal account to the "SwifterSwift" organization account.

https://travis-ci.org/SwifterSwift/SwifterSwift
[code]
Thank you!

[2017-01-11 09:16] #85 closed

[2017-01-11 09:19] omaralbeik opened #87 "macOS Support"
@pawurb Could you please help adding the targets and the initial setup, then I can check all extensions compatibility with macOS.
Thank you in advance!

[2017-01-11 19:40] omaralbeik commented on #87
macOS support added in v1.4.7
however I used #if !os(macOS) to incompatible extensions to mute any errors while building
most of them are UIKit extensions. I'll check all of them in the next releases
@pawurb could you please add macOS to Travic .yaml file
As usual thank you for the great work 🥇

[2017-01-11 21:01] pawurb commented on #84
Looks like SwiftCov is not supported by travis. Closing for now.

[2017-01-11 21:01] #84 closed

[2017-01-12 03:50] #87 closed

[2017-01-13 09:50] pawurb opened #96 "Increase test coverage"
Currently test coverage is quite low, with a bunch of extension files not being tested at all.
<img width="609" alt="coverage" src="https://cloud.githubusercontent.com/assets/1131944/21925378/86b81bde-d97d-11e6-854d-49dcaa46e8b0.png">

Though there is no way to display a fancy coverage status badge in the readme it would still be nice to increase it. I don't have time to look into it right now but

[2017-01-13 09:52] omaralbeik commented on #96
Definitely, I'll work on adding more tests for all not UI extensions soon.

[2017-01-20 10:55] omaralbeik commented on #84
@pawurb Test coverage added finally ‎🎉
https://codecov.io/gh/SwifterSwift/SwifterSwift

[2017-01-27 03:31] muescha opened #104 "// and many others!"
instead of `// and many others!` i would like to see a full doc of all functions and extensions

and mandatory for new pull requests

[2017-01-27 08:11] omaralbeik commented on #104
@muescha There is no enough space to list all extensions examples in the README, but they are all listed with examples in the [Docs repo](https://github.com/SwifterSwift/SwifterSwiftDocs)

[2017-01-27 08:11] #104 closed

[2017-01-27 18:27] muescha commented on #104
I See this Doc repo the First time.

 It should places In the readme. Before the examples.

And of course alway a link at the line `// and many others`

[2017-01-28 10:45] omaralbeik commented on #96
Glad that code coverage reached 64% recently
https://codecov.io/gh/SwifterSwift/SwifterSwift

[2017-02-15 01:43] SD10 opened #120 "UISegmentedControlExtensions return array of optional values"
[code]
The implementation currently returns an empty array in the case where no titles exist.
I think it would be better to either:

a) Return an optional Array
b) Return an Array of non-optional elements

This would also eliminate double optional values from using .first property on the array

[code]

I would also like to remove the use of the while loops from the implementation of these properti

[2017-02-15 09:59] SD10 commented on #120
[code]
Another thought if changing these properties to contain non-optional values is approved.

[2017-02-15 10:03] omaralbeik commented on #120
@SD10 I totally agree with you on this, I think second approach with flatMap is better, feel free to add them a new pull request and I'll merge it

[2017-02-15 10:04] SD10 commented on #120
@omaralbeik Awesome, I'll update them in the morning when I also add testing for this class. Thanks!

[2017-02-15 17:50] omaralbeik commented on #96
Glad that code coverage reached 84% recently
https://codecov.io/gh/SwifterSwift/SwifterSwift

[2017-02-16 05:15] #120 closed

[2017-02-21 00:16] #96 closed

[2017-02-22 20:28] abelondev opened #124 "Array shuffle method is wrong and ineficient"
1. array shuffle doesn't have optimal implementation as it relies on sort
2. It is just wrong it can't return the same, so output is not fully random.

[2017-02-22 20:35] abelondev opened #125 "Array withoutDuplicates has o(n^2) complexity"
Should use o(n)

[2017-02-22 20:37] abelondev opened #126 "Many Collection and String methods has inefficient implementation"
I see many methods here in extension have o(n^2) when is possible o(n)

[2017-02-22 20:37] SD10 commented on #124
@abelondev Do you have a suggestion for a better implementation?

Regarding your second point, I don't think the intention is for the output to be completely random, but rather to mix up the elements in the array. I believe that's why the check to make sure the output is different was included.

A boolean parameter defaulting to false could be included for this method to allow it to return the ori

[2017-02-22 20:43] abelondev commented on #124
1. Current algo has O(n log n) complexity at best. You can find o(n) algos here: http://stackoverflow.com/questions/37843647/shuffle-array-swift-3

2. German Enigma coding machine was broken just because it had that "if" which doesn't allow to return the same result.

[2017-02-22 20:47] abelondev commented on #124
Implementation also will hang on the array with the length of one

[2017-02-22 20:57] SD10 commented on #124
Ok, thank you for pointing this out 👍 Feel free to submit a Pull Request

[2017-02-22 21:54] abelondev commented on #124
I think the project should be split into independent projects: CocoaExtensions and DataStructure extension. So the last could be reusable everywhere and not just for iOS. It is different type of expertise to write UIKit extensions and Data Structure ones. It is difficult achieve excellence in both.

[2017-02-22 21:54] abelondev opened #127 "Please Split the project."
I think the project should be split into independent projects: CocoaExtensions and DataStructure extension. So the last could be reusable everywhere and not just for iOS. It is different type of expertise to write UIKit extensions and Data Structure ones. It is difficult achieve excellence in both.

[2017-02-22 22:08] omaralbeik commented on #124
One way to get around this at the moment is to copy only the extensions you want to use.
The other way to do this is using Cocoapods subspecs, I'm working on splitting the project into 3 sub-projects, so instead of integrating the entire library, you can integrate only what you want to use. like you can do with Firebase.

Project will be spilled into 3 projects
- SwifterSwift/FoundationExtensions

[2017-02-22 22:24] SD10 commented on #124
@omaralbeik This has been on my mind as well as I'd like to limit the integration of the entire library when only needing a few extensions.

- I do not like the idea of splitting this up into independent projects because I think it could diminish support for this project from the community.

- I LOVE the idea of using Cocoapods subspecs. Organizing the project this way would allow us to create a a

[2017-02-22 22:36] SD10 commented on #126
Similar to #125 and #124
Please submit Pull Requests if you have better implementations to contribute

[2017-02-22 22:37] SD10 commented on #125
@omaralbeik Let's close this because it's quite vague and similar to #126
I referenced this issue so we know the specific method in question

[2017-02-22 22:45] abelondev commented on #124
Your competitors
1. https://github.com/ovenbits/Alexandria/ uses subspec for that
2. https://github.com/pNre/ExSwift/ has more and better collection extension

[2017-02-22 22:54] #126 closed

[2017-02-22 22:54] #125 closed

[2017-02-22 22:55] #127 closed

[2017-02-23 15:18] gperdomor opened #128 "Problem with SPM"
Hi, i can't install with SPM...

using `.Package(url: "https://github.com/SwifterSwift/SwifterSwift.git", versions: Version(1,4,0)..<Version(2, .max, .max))` i got this error:

[code]

and with `.Package(url: "https://github.com/SwifterSwift/SwifterSwift.git", majorVersion: 1, minor: 6)` i got something similar

[2017-02-23 22:39] omaralbeik commented on #128
Problem was because the Swift Package manager doesn't recognize tags with the prefix "v"
I Re-released version 1.6.2 without the "v"

This should have fixed the problem

[2017-02-23 22:39] #128 closed

[2017-02-24 14:08] bennokress opened #130 "Int.randomBetween(min:max) is changed to Int.random(between:max)"
In the latest version Xcode is complaining about Int not having a static function called randomBetween. After looking at the source code I found that it is changed from `Int.randomBetween(min: 5, max: 25)` to `Int.random(between: 5, max: 25)`. This change is not yet documented in [your documentation](https://github.com/SwifterSwift/SwifterSwiftDocs/blob/master/Docs/IntExtensions.md#randombetweenmi

[2017-02-24 17:12] omaralbeik commented on #130
@bennokress I totally agree with you, using and makes more sense, will update it in the next release
about the documentation, we're working on updating the docs as some are outdated, feel free to contribute :)

[2017-02-24 17:24] omaralbeik commented on #124
@abelondev So far all you did was just talking, well,  just pointing to errors without fixing them (or at least helping) doesn't help anyone here!
Feel free to dive into the code and contribute to the project (actual contributions not just talking)
or just use one of **my competitors** libraries for now :)

[2017-02-24 17:24] #124 closed

[2017-02-24 18:39] abelondev commented on #124
You didn't get my point. I'll wait when project will be split. Writing UIKit extension and DataStructure extension is different kind of work. I wish I had splitter in some way project to just focus on DataStructrure improvements. It also means split Unit test projects.

[2017-02-24 18:54] omaralbeik commented on #124
I DO understand your point @abelondev, and I also think separating the project into 3 project is a good idea, in fact the only thing stopping me from doing it is time as I have other projects that I'm working on right now
My message to you was if you want to improve the DataStructrure part of the library, please do it in code rather than just saying, you can start working on DataStructrure without

[2017-02-24 19:48] SD10 commented on #124
@omaralbeik Just to confirm
When you talk about separating the project you mean by using Cocoapods sub-specs?
I don't want to split this project another way because I think it will diminish support.
If we keep it centralized it will allow more people to rally behind it and is easier to find.

Also, this lets us add extensions to other frameworks in the future without having to create a new project

[2017-02-24 19:53] omaralbeik commented on #124
@SD10 exactly, by separating I mean using Cocoapods sub-specs

[2017-02-25 06:41] #130 closed

[2017-03-22 09:22] ShivaHuang opened #136 "Naming of Dequeue Functions in `UITableView` and `UICollectionView`"
I found the functions in `UITableView` and `UICollectionView` extensions for dequeue cell have the prefix `deque` like the following:

`public func dequeReusableCell<T: UITableViewCell>(withClass name: T.Type, for indexPath: IndexPath) -> T`

, not **`dequeue`**. Is this a typo or for some reason?

[2017-03-22 11:05] SD10 commented on #136
@ShivaHuang Yes, thank you for pointing this out! I always misspell queue and dequeue. Feel free to submit a pull request or I can take care of it myself.

[2017-03-22 18:04] ShivaHuang commented on #136
@SD10 I just submitted a pull request https://github.com/SwifterSwift/SwifterSwift/pull/137, please review it.

[2017-03-22 19:35] omaralbeik commented on #136
Thank you @ShivaHuang and @SD10

[2017-03-22 20:34] #136 closed

[2017-03-28 06:36] g001613001 opened #147 "M_PI has yellow issues"
M_PI have to changed to Double.pi

[2017-03-28 06:40] omaralbeik commented on #147
@g001613001 Could you please specify where M_PI is used?

[2017-03-28 06:43] #147 closed

[2017-03-28 06:46] g001613001 commented on #147
XCode 8.3 will show all the yellow issues.
Like this
[img](http://imgur.com/3VV7pIu)

[2017-03-28 06:48] omaralbeik commented on #147
@g001613001 Please run `pod update` if you are using cocoapods or download the current version of the library
M_PI has been removed long time ago.

[2017-03-28 06:49] g001613001 commented on #147
OK, I'm try , thank you!

[2017-03-28 06:51] omaralbeik commented on #147
Anytime @g001613001, let me know if you still face the same problem after updating.

[2017-03-28 07:52] wousser opened #148 "Array: item(at: ) error if index is same as items"
[1, 2, 3, 4, 5].item(at: 2) -> 3
 [1.2, 2.3, 4.5, 3.4, 4.5].item(at: 3) -> 3.4
 ["h", "e", "l", "l", "o"].item(at: 10) -> nil

//bug
["h"].item(at: 1) -> error, should be nil
["h", "e"].item(at: 2) -> error, should be nil

xcode: 8.3
swift: 3.1
swifterswift: 1.6.3

[2017-03-28 15:12] SD10 commented on #148
Thanks @wousser. I've fixed it. 👍

[2017-03-28 15:12] #148 closed

[2017-05-01 14:19] tapanprakasht opened #166 "Is codecov report correct?"
I was looking into codecov report to check how well the code is tested. But I found some disparity between codecov report and Xcode coverage report. For example look at the case of UISliderExtensions.
This is the codecov report for UISliderExtension where completion handler is not covered by test.
![image](https://cloud.githubusercontent.com/assets/4947384/25581581/57857f40-2ea6-11e7-95b2-aeb7a269

[2017-05-01 18:41] SD10 commented on #166
Hi @tapanprakasht, I'm not sure what the issue is regarding this. If `xcpretty` is indeed causing this issue, we will have to deal with it, because I value being able to read the build log more than hitting every line of code. That being said, I also know that the completion block for `animate(withDuration:)` is finicky. You can see this in the `UITableView` & `UICollectionView` method `reloadData

[2017-05-04 08:27] gongruike opened #167 "UIImageViewExtension miss access control modifier"
![image](https://cloud.githubusercontent.com/assets/4476750/25695559/359a008a-30e6-11e7-9f13-409c5654abd4.png)

can't access these two methods.

[2017-05-04 19:37] pawurb opened #168 "Swift Source Compatibility"
Hello @omaralbeik . I have been away for a while but could not find time for contributing recently. Just found out that Apple is including OS projects into its Swift source compatibility testing. Maybe you would be interested in joining it? Unfortunately in the nearest future I will not have time to look into it.

https://swift.org/source-compatibility/

[2017-05-04 19:39] omaralbeik commented on #168
Great idea @pawurb, will work on adding it as soon as we can
Thank you!

[2017-05-04 23:06] omaralbeik commented on #168
Pull request submitted
https://github.com/apple/swift-source-compat-suite/pull/32

[2017-05-05 00:33] #167 closed

[2017-05-05 00:46] omaralbeik commented on #167
@gongruike Thank you for reporting, fixed in 1.6.4

[2017-05-08 21:10] omaralbeik commented on #168
SwifterSwift was added today
https://swift.org/source-compatibility/#current-list-of-projects
Thanks @pawurb for letting me know

[2017-05-08 21:10] #168 closed

[2017-05-15 03:10] Ccmi opened #172 "Array withoutDuplicates"
![image](https://cloud.githubusercontent.com/assets/17047142/26041393/0e5a8892-395f-11e7-8d9f-907ea4f782e6.png)

[2017-05-15 03:13] SD10 commented on #172
Hey @Ccmi,

I believe that `withoutDuplicates` has been renamed to:
`duplicatesRemoved()` - the non-mutating version
`removeDuplicates()` - the mutating version

Let me know if this helps you!

[2017-05-15 03:27] Ccmi commented on #172
Thanks

[2017-05-15 03:27] #172 closed

[2017-05-19 05:51] #166 closed

[2017-05-19 07:42] dviet opened #173 "Drop method is missing"
The following method is missing:

Please update, thank you.

[2017-05-19 13:03] LucianoPAlmeida commented on #173
@dviet Hi, this method was removed on [PR#165](https://github.com/SwifterSwift/SwifterSwift/pull/165) because that already exists in the Swift Standard Library.

[2017-05-19 13:20] #173 closed

[2017-05-26 12:12] canaksoy opened #174 "DateExtensions.swift:215:27: Type 'Locale!' has no member 'posix'"
[code]

DateExtensions.swift:215:27: Type 'Locale!' has no member 'posix'

[2017-05-26 19:53] SD10 commented on #174
Hey @canaksoy,

Are you using the SwifterSwift library via CocoaPods or are you manually cutting and pasting this extension?

The reason I'm asking is that `.posix` is another SwifterSwift extension.
It's a static property defined in `LocaleExtensions`:

[code]

If you are using this extension via copy & paste then you will need this one as well.
Please let me know if this resolves the issue so th

[2017-05-26 21:54] #174 closed

[2017-05-26 21:59] omaralbeik commented on #174
@canaksoy I think you had the problem because you copied the extension separately as @SD10 mentioned above, please check the extension back [here](https://github.com/SwifterSwift/SwifterSwift/blob/master/Source/Extensions/DateExtensions.swift) and let me know if you are still facing the same problem

Thank you @SD10!

[2017-05-27 06:24] canaksoy commented on #174
No. I'm using cocoapods.. SwifterSwift (1.6.4). I update repo and install again then I think error gone.

[2017-06-05 22:07] AYastrebov opened #176 "DateTools conflict"
SwifterSwift has conflict with [DateTools](https://github.com/MatthewYork/DateTools)

![2017-06-06_01-06-58](https://cloud.githubusercontent.com/assets/739037/26805405/75f0880c-4a54-11e7-9589-ceddf3a4d4dc.png)

[2017-06-05 22:40] SD10 commented on #176
Hey @AYastrebov, thanks for logging this issue.

This is a limitation for the project as a library like SwifterSwift extends such a large number of data types that it is possible for them to conflict with extensions provided in other 3rd party libraries.

Especially when an extension is a commonly used solution to a problem or revolves around a similar domain.

Here are my suggestions for you:
- P

[2017-06-05 23:10] AYastrebov commented on #176
Hey @SD10
Thanks for quick response!

The easiest solution for me was just to take needed component from `DateTools` and integrate it directly to the project and remove the corresponding `pod`. So I suppose this can be closed. Thanks!

[2017-06-05 23:11] #176 closed

[2017-06-06 08:20] omaralbeik opened #177 "Swift 4 Support"
## Swift 4
Xcode 9 beta with Swift 4 was announced yesterday 🎉, [whats new](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/WhatsNewXcode/xcode_9/xcode_9.html)
All Swift 4 work will be done in the [`swift-4`](https://github.com/SwifterSwift/SwifterSwift/tree/swift-4) branch and will be released as soon as Swift 4 is available officially

[2017-06-06 09:06] omaralbeik opened #178 "Poll: Change SwifterSwift Versioning"
Change versioning to match Swift versioning.
example: next major release will be **SwifterSwift 4.0**.

[2017-06-06 09:11] omaralbeik opened #179 "Add Subspecs support"
Use [Cocoapods Subspecs](https://guides.cocoapods.org/syntax/podspec.html#group_subspecs) to divide the project into smaller sub projects so users can install everything or only what they need.

Suggested Subspecs
- SwifterSwift/Foundation
- SwifterSwift/UIKit
- SwifterSwift/Cocoa

[2017-06-06 09:20] omaralbeik opened #180 "Poll: Add ss prefix to all extensions"
While adding the SS prefix to all extensions will make them less readable, it could bring more compatibility with 3rd party libraries

Example:
[code]
instead of:
[code]

[2017-06-06 11:40] Alex293 commented on #180
Despite this could be convenient to find quickly some extensions, it remove a lot of fluency which is one of the best thing in this repo !

[2017-06-06 18:34] SD10 commented on #180
I'm opposed to this. Most 3rd party libraries keep their extensions used to build the library internal so we won't have any conflicts there.

The problem comes with using a library that solves the same problem SwifterSwift does.
e.g) using SwifterSwift Date extensions and another Date library

In this scenario, the user should really only import the extended SwifterSwift types on a type by type ba

[2017-06-08 01:21] SD10 commented on #178
@omaralbeik I think this is a good idea, then from here on out we should follow [semantic versioning](http://semver.org).

We could possibly add a `CHANGELOG.md` file and then when users add new extensions or make changes they have to update the changelog.

This would give us a more accurate description of what's new in each version of SwifterSwift and then we don't have to sort through all the pa

[2017-06-13 18:45] mateo666 opened #183 "open instead of public"
error when using this lib with a custom uicontrol.
complaining about Overriding non-open var outside defining module.

[2017-06-13 18:57] SD10 commented on #183
@mateo666 Can you give some more information so that we can assist you? Possibly, the piece of code that is creating this issue? Thank you.

[2017-06-13 19:10] mateo666 commented on #183
was using the view extension. following var

@IBInspectable
	/// SwifterSwift: Corner radius of view; also inspectable from Storyboard.
	public var cornerRadius: CGFloat {
		get {
			return layer.cornerRadius
		}
		set {
			layer.masksToBounds = true
			layer.cornerRadius = abs(CGFloat(Int(newValue * 100)) / 100)
		}
	}

my UIControl also defines a public var cornerRadius: CGFloat

[2017-06-13 19:16] SD10 commented on #183
@mateo666 thank you for raising this issue

[2017-06-13 19:18] mateo666 commented on #183
i guess a lot of UIKit would have to be open.

[2017-06-13 19:21] SD10 commented on #183
@omaralbeik What do you think? If we change access control to `open` opposed to `public` then users will be able to change the behavior of SwifterSwift extensions while subclassing.

Considering our design of SwifterSwift extensions not being dependent on the implementation of other SwifterSwift extensions -- I would feel comfortable changing access control to `open`.

 I'm not sure what the drawb

[2017-06-13 19:25] SD10 commented on #183
Thinking about this more, I think the `public` access level is a significant limitation. It makes no sense to not allow users to `override` methods and properties on something as broad as `UIKit` components.

[2017-06-13 19:51] omaralbeik commented on #183
I agree with you guys, I changed it to Poll, please vote

[2017-06-13 19:52] omaralbeik commented on #180
Community voted not to add this feature

[2017-06-13 19:52] #180 closed

[2017-06-17 13:15] omaralbeik commented on #183
Community voted to add this feature

[2017-06-17 13:16] omaralbeik commented on #183
@SD10 Could you please replace all `public` with `open`

[2017-06-17 13:18] omaralbeik commented on #183
And by comunity I mean @SD10, @pvtmert and I ;)

[2017-06-17 13:19] omaralbeik commented on #179
Community voted to add this feature

[2017-06-17 13:22] omaralbeik commented on #178
Community voted to change versioning, next version will be 3.0 👍

[2017-06-17 13:22] #178 closed

[2017-06-17 20:19] SD10 commented on #183
Sure, will do 👍

[2017-06-18 03:16] SD10 commented on #183
Looks like we cannot use `open` inside of a `public` extension because it is a less restrictive form of access control. Extensions cannot have `open` access control, therefore, this doesn't look possible.

[2017-06-18 10:04] omaralbeik commented on #183
@SD10 I meant change everything to open including extension and inner unites, if the extension is open and all inner functions are open, why can't we do this?

[2017-06-18 10:12] SD10 commented on #183
@omaralbeik Extensions cannot have `open` access control modifiers. Therefore, this doesn't look possible.

[2017-06-18 10:24] SD10 commented on #183
@mateo666 For future reference, if you need to subclass a SwifterSwift extended type, you will have to choose method names that don't conflict with the `SwifterSwift` names.

Example:
[code]

I can't think of any other way to achieve this. We would have to move the extensions on classes into a subclass to allow them to be overridden -- which just doesn't fit the vision of this project.

[2017-06-18 11:42] omaralbeik commented on #183
Thank you @SD10!

[2017-06-18 11:42] #183 closed

[2017-07-08 02:21] SD10 opened #186 "Looking for new contributors!"
# Help Wanted

Hey, everyone! SwifterSwift is looking for new contributors!

You can contribute to the project in a variety of ways:
- Improve documentation 🙏
- Add more extensions 👍
- Add missing unit tests 😅
- Fixing or reporting bugs 😱

If you're new to Open Source or Swift the SwifterSwift community is a great place to get involved.
**No contribution is too small.**

If you have any questions

[2017-07-08 18:01] flashspys opened #187 "Tests are failing at non-english machine / Bug in String.double"
I forked and run SwifterSwift on my machine with a german region setting and I noticed that the tests are failing. To be exact the `testDouble()` crashes (not fails). With german region setting the number formatter created in String.double is watching for german doubles (`8,23` instead of `8.23`) and is returning nil here.
I think all the number formatters used should be using an english locale.

[2017-07-08 18:06] flashspys opened #188 "XCTAssertNotNil cannot handle optionals"
In your tests you are checking at various locations optionals not to be nil by passing them to the `XCTAssertNotNil` function. Unfortunally the function is unable to process Swift optionals and will threat even nil-optionals as not-nil. For this reason #187 is crashing and not failing, because first the optional is checked and then force-unwrapped. Another option to check optionals to be nil shoul

[2017-07-08 18:12] flashspys commented on #188
Another option would be to add SwifterSwift's very first XCTest extension 😆

`XCTest.assertOptionalNotNil`

[2017-07-08 18:35] SD10 commented on #187
@flashspys Thank you for reporting this. I'll look into it tonight.

[2017-07-08 21:02] SD10 commented on #187
@flashspys I'm not sure if I want to make the `NumberFormatter` have a specific locale. This would be an API breaking change. I didn't know some languages use commas over periods in number formatting. I think it should format to the current locale. What do you think?

My suggestion is updating the Unit Tests to use a String that is formatted to the current locale.

[2017-07-08 21:09] SD10 commented on #188
@flashspys Thanks for pointing this out. I think we could also set XCTest to stop testing after failing once. The downside to that is we don't know of any failed tests after this until the next run, but I think it could be a fair compromise.

[2017-07-08 21:13] flashspys commented on #188
This will not solve the situation in that a single test is crashing ( != failing) because some force-unwrap fails.

[2017-07-08 21:19] SD10 commented on #188
@flashspys let me make sure I understand correctly, are you saying this test won't fail:
[code]

[2017-07-08 21:43] flashspys commented on #188
No, the behaviour is more complicated. I think the following picture will help to understand:

In this case, `XCTAssertNotNil` will fail as expected.
<img width="461" alt="screen shot 2017-07-08 at 23 38 57" src="https://user-images.githubusercontent.com/1114404/27989346-da3334ee-6436-11e7-8bcb-6b6e5f528431.png">

But in this case `XCTAssertNotNil` will not detect the nilness of `string`. The test

[2017-07-08 21:52] SD10 commented on #188
@flashspys Ok, I think we're on the same page. That is why I was suggesting this:

[code]
If `XCTAssertNotNil` fails the proceeding code won't be executed.

[2017-07-08 22:04] flashspys commented on #188
I think it is more an UI Bug than I thought because your idea is right. It will fix it and even in the second example it will stop executing after `XCTAssertNotNil` when you add `continueAfterFailure = false`
<img width="442" alt="screen shot 2017-07-09 at 00 00 29" src="https://user-images.githubusercontent.com/1114404/27989463-a8199428-6439-11e7-8cdf-a1b177f7ac3b.png">
My guess is that Xcode is

[2017-07-08 22:05] SD10 commented on #188
@flashspys Yeah the method I showed above would work. What's happening is there is no test report being shown due to the crash. `XCTAssertNotNil` is still detecting the nilness of the `String`.

![screen shot 2017-07-08 at 5 03 25 pm](https://user-images.githubusercontent.com/7445580/27989494-64156246-63ff-11e7-81f7-0544c0f5959b.png)

Feel free to open a Pull Request making these changes to the te

[2017-07-09 00:23] SuperWomble opened #190 "UIColor.hexString not supporting alpha"
Issue: hexString does not honour the color's alpha component.

Although the color's alpha is retrieved as part of the getting of the components, it is ignored, and  the output string is formatted to #RRGGBB instead of #RRGGBBAA

Desired outcome: if alpha is 1, then the current form should be returned. Otherwise, the string should be formatted to #(8 chars)
Cheers.

[2017-07-09 00:32] SD10 commented on #190
@SuperWomble Thank you for reporting this. Do you want to submit a pull request with this change?

[2017-07-09 00:59] SuperWomble commented on #190
TBH, and I am shamed about this, but I'm a total github nub. I barely know how to read the site, let alone contribute anything more than issues. ::deep, deep shame::

[2017-07-09 02:19] SD10 commented on #190
@SuperWomble There's nothing to be ashamed about! I'm _still_ a git noob 😐

[2017-07-17 07:27] omaralbeik commented on #179
Subspcs support was added in #198

[2017-07-17 07:27] #179 closed

[2017-07-17 12:03] omaralbeik opened #200 "Poll: 'SwifterSwift/withoutDate' subspec"
Some users prefer to use other libraries for Date extensions

How about a new subspec that lets them have all the great extensions without Date ones by adding the following line to `Podfile`
[code]

[2017-07-17 23:43] SD10 commented on #200
I think adding something like this is a slippery slope. The `withoutDate` subspec is also vague and confusing. I think a better approach would be to recommend users to control what they import type by type. This results in the same solution without the need for subspecs. I'll add writing documentation on how to do this to my todo list.

[2017-07-17 23:49] SD10 opened #201 "Add Import Extensions Documentation"
### Add Documentation For Importing Extensions

SwifterSwift is a large framework and sometimes our extensions conflict with extensions provided in other libraries.

Example: SwifterSwift provides many `Date` extensions that may conflict with a library that provides a calendar UI element or other date tools.

### How can we resolve conflicts?

By importing SwifterSwift components at the type level

[2017-07-18 07:37] omaralbeik commented on #201
@SD10 The above solution didn't work for me, I'm still getting **Ambiguous use of 'hour'** error although I imported just UIColor from SwifterSwift

[code]

[2017-07-18 15:35] pvtmert commented on #190
okay so i saw this and decided to close, but need review on following snippet:

[code]

[2017-07-18 16:53] LucianoPAlmeida commented on #190
@pvtmert Just one thing, the swift String class also has a constructor String(format: ), so you don't need to use NSString then cast it to string :)

[2017-07-18 18:18] SD10 commented on #201
@omaralbeik Thanks for testing this!
I have some ideas as to what's happening and will look into it further.

[2017-07-18 21:37] pvtmert commented on #190
@LucianoPAlmeida just tried in playground with set as ios, unfortunately it wants `[CVarArg]` but i supply `Int` so convert fails (even if i supply `[rgb]` for instance) so leaving as is like before...

[2017-07-19 08:35] Alex293 commented on #190
@SuperWomble shouldn't the format with transparency be #AARRGGBB ?

[2017-07-19 08:37] Alex293 commented on #200
Why don't just separate date extension and get them with SwifterSwift/Date ?

[2017-07-19 09:13] omaralbeik commented on #200
@Alex293 The problem is some users are using the entire library without DateExtensions, maybe they have a UI framework (like a calendar) that has Date extensions which conflicts with SwifterSwift, we are looking for a way to prevent this, possible solutions:

1. `pod 'SwifterSwift/withoutDate'`
2. I'm working with @SD10 on another solution in #201

[2017-07-20 09:51] omaralbeik opened #205 "3.1.0"
## Goals for [v3.1.0](https://github.com/SwifterSwift/SwifterSwift/tree/3.1.0):

- [x] **Move all example code from the our [old  docs repo](https://github.com/SwifterSwift/SwifterSwiftDocs/tree/old) into the code**

- [x] **Deprecate redundant extensions:**
example `String.replacing("", with: "")` is a redundant function of Apples `replaceOccurrences("", with: "")`

- [x] **Check extensions names

[2017-07-20 17:52] SD10 opened #206 "Rename String.lastCharacter to String.lastCharacterAsString"
### Starter Task For New Contributors

`String.lastCharacter` returns a **String**, should be renamed to `String.lastCharacterAsString`

[code]

[2017-07-20 17:53] omaralbeik commented on #206
Already done in v3.1.0 with many other enhancements, will submit a PR pater tomorrow

[2017-07-20 17:54] SD10 commented on #206
Dang! We should use these for starter tasks 😭

[2017-07-20 17:54] #206 closed

[2017-07-20 18:40] omaralbeik commented on #206
@SD10 Don't worry I'll add some very soon!

[2017-07-21 04:55] SD10 opened #209 "Fix UISlider test by using XCTExpectation"
### Fix race condition in async test

The test below relies on `XCTAssert` + a completion flag. This causes it to fail in rare cases. It needs to be refactored to use `XCTExpectations`. We use these elsewhere in the project so you can probably find a few examples. If you have any questions let me know 😃

[code]

[2017-07-22 22:37] pvtmert commented on #190
afaik in css it is called RGBA
here is ref: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#rgba

[2017-07-23 07:53] omaralbeik commented on #190
@pvtmert Would you please submit a pull request with the changes so we can discuss it there.

[2017-07-23 09:44] Alex293 commented on #190
@pvtmert sure in CSS but Android use ARGB (https://developer.android.com/guide/topics/resources/more-resources.html#Color).

In an app I would more often share values with Android than with web.

[2017-07-23 18:53] #188 closed

[2017-07-23 18:54] omaralbeik commented on #188
Fixed in v3.1.0

[2017-07-23 18:54] omaralbeik commented on #187
Fixed in v3.1.0

[2017-07-23 18:54] #187 closed

[2017-07-23 18:54] #205 closed

[2017-07-24 08:57] #200 closed

[2017-07-25 03:14] tache opened #214 "CoreImage not available on watchOS"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

In the latest commit, I added `CoreImage` accessor extension, but in testing it further, I discovered that it does not have watchOS support. https://developer.apple.com/documentation/coreimage

In order to resolve

[2017-07-25 09:23] omaralbeik commented on #214
@tache I'd suggest you wrap it 👍

[2017-07-26 08:08] omaralbeik commented on #214
@tache Could you pleas submit a PR with the functions wrapped only for not watchOS :)

[2017-07-27 08:57] #214 closed

[2017-08-05 00:35] SD10 opened #219 "Removing "It also works for other types!" from documentation."
### Clean Up Documentation

Remove occurrences of:
`"// It also works for other types!"`
from our documentation for Array extensions.

This is very vague and obvious as Arrays are generic over the type of element they hold.

This is a really easy starter task! ❤️

[2017-08-06 15:50] pvtmert commented on #190
okay it has been 2 weeks since last comment, so lets decide on something what to do

ARGB = 👍
RGBA = 👎

okay lets start voting, i'll make pr after 604.800 seconds (week later)

[2017-08-09 10:28] #219 closed

[2017-08-12 21:23] omaralbeik opened #221 "Add isPrime extension"
Add `isPrime` variable to `IntExtensions` to check if integer is prime number

[2017-08-13 01:04] omaralbeik opened #223 "Refactor variables with intensive operations into functions"
Refactor all variable extensions with notation not Θ(1) to functions. This way users will expect the possibility of an intensive operation.

_Example:_

###### Before
[code]
###### After
[code]

[2017-08-13 01:43] omaralbeik opened #224 "Bring support for more Number types"
## Bring support for more Number types like UInt, Int8, Int16, ...

This will introduce new files like **SignedNumberExtensions.swift** and **IntegerExtensions.swift**, however this will also:
- Refactor many duplicated extensions between FloatingPoint and Integer types into single extensions.
- Bring support for other Number types.
- All extensions should behave same as before. **No API breaking

[2017-08-13 01:59] SD10 commented on #224
I already have some of this code on an old SwifterSwift branch. I'll see if I can rebase the changes and push them up this week.

[2017-08-13 02:36] SD10 commented on #224
I just tried taking a crack at it and there are a lot less refactoring opportunities than I thought. I'll still see what I can do but this is still a good starter task as some are already listed in this example.

[2017-08-13 09:35] omaralbeik commented on #201
Looks like adding `module_name = "SwifterSwift"` in **SwifterSwift.podspecs** will help with this

[2017-08-15 11:50] #201 closed

[2017-08-15 17:06] #221 closed

[2017-08-15 18:37] omaralbeik commented on #209
@LucianoPAlmeida Could you please take care of this issue when you have some free time :)

[2017-08-15 21:54] #224 closed

[2017-08-16 00:08] LucianoPAlmeida commented on #209
@omaralbeik Sure :)

[2017-08-16 07:40] #209 closed

[2017-08-16 14:24] kennic commented on #224
Compile error on XCode 9.0 Beta 5:

`SignedNumberExtensions.swift:12:8: Non-nominal type 'SignedNumber' (aka 'Comparable & SignedNumeric') cannot be extended`

`SignedNumberExtensions.swift:15:18: Global function cannot return 'Self'`

[2017-08-16 19:03] omaralbeik commented on #224
@kennic SwifterSwift 3 is not compatible with Xcode9/Swift4.
We're working on v4 in the [`swift-4`](https://github.com/SwifterSwift/SwifterSwift/tree/swift-4) branch, which will bring support for Xcode9 and Swift 4.

[code]

[2017-09-01 13:16] timyply opened #232 ""Linking against a dylib" warning message"
<img width="509" alt="capture d ecran 2017-09-01 a 14 59 46" src="https://user-images.githubusercontent.com/31541067/29970870-a0cda750-8f26-11e7-89ef-3adfc69597ce.png">

I get the following warning message when I build my app.
After a few researches, it looks as if the warning will prevent my app from being approved to the App Store.

What am I supposed to do to fix this ?
I'm quite new to Xcode a

[2017-09-01 20:13] omaralbeik commented on #232
@timyply, the [App Extension Programming Guide](https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html) suggest the following:

Please let us know if that fixes the issue you are facing, otherwise please help us understand the problem better by providing the following information

- SwifterSwift version
- Xcode version
- macOS version r

[2017-09-01 22:02] timyply commented on #232
<img width="694" alt="capture d ecran 2017-09-01 a 23 51 43" src="https://user-images.githubusercontent.com/31541067/29989009-b29fc4d2-8f70-11e7-8322-a1a2fb688ae4.png">
<img width="874" alt="capture d ecran 2017-09-01 a 23 52 14" src="https://user-images.githubusercontent.com/31541067/29989008-b29fde2c-8f70-11e7-9d33-ef027a5d0096.png">

I have read about this setting to set to Yes
But when I do so

[2017-09-04 14:42] pkuzia opened #234 "Xcode 9 beta 6 Compile Error"
Issue: When i try to compile project with SwifterSwift I get this error:

![zrzut ekranu 2017-09-04 o 16 34 18](https://user-images.githubusercontent.com/26796889/30030854-59310e30-918f-11e7-96f2-6f37d45cabe4.png)

Xcode 9 beta 6
SwifterSwift 3.1.1
macOS 10.12.6

Thanks for your help! 🙂

[2017-09-04 18:14] omaralbeik commented on #234
@pkuzia SwifterSwift 3 is not compatible with Xcode9/Swift4.
We're working on v4 in the [`swift-4`](https://github.com/SwifterSwift/SwifterSwift/tree/swift-4) branch, which will bring support for Xcode9 and Swift 4.

[code]

[2017-09-04 18:14] #234 closed

[2017-09-05 11:48] omaralbeik commented on #232
@timyply We're still waiting for the following information to investigate the issue
- SwifterSwift version
- Xcode version
- macOS version running Xcode:
- Platform(s) running SwifterSwift

[2017-09-05 15:19] omaralbeik opened #236 "Rethink files structure and subspec"
# Files Structure
I think this structure will make the library more modular and help people add new categories of extensions in the future

## SwiftStdlib

- ArrayExtensions.swift
- BoolExtensions.swift
- CharacterExtensions.swift
- CollectionExtensions.swift
- DictionaryExtensions.swift
- DoubleExtensions.swift
- FloatExtensions.swift
- FloatingPointExtensions.swift
- IntExtensions.swift
- Option

[2017-09-06 12:54] omaralbeik commented on #190
Fixed in #228, thanks to @pvtmert 🎉

[2017-09-06 12:54] #190 closed

[2017-09-06 13:05] SD10 commented on #236
What about **SwiftStdlib Extensions**?

### Swift Standard Library
- ArrayExtensions.swift
- BoolExtensions.swift
- CharacterExtensions.swift
- CollectionExtensions.swift
- DictionaryExtensions.swift
- DoubleExtensions.swift
- FloatExtensions.swift
- FloatingPointExtensions.swift
- IntExtensions.swift
- OptionalExtensions.swift
- SignedIntegerExtensions.swift
- SignedNumericExtensions.swift
- Stri

[2017-09-06 13:36] LucianoPAlmeida commented on #236
@SD10 I like SwiftStdlib :)

[2017-09-06 14:42] omaralbeik commented on #236
@SD10 @LucianoPAlmeida I updated the list above to have a SwiftStdlib section

[2017-09-07 06:00] Bruce-pac commented on #224
Compile error on XCode 9.0 Beta 6:

SignedNumberExtensions.swift:12:8: Non-nominal type 'SignedNumber' (aka 'Comparable & SignedNumeric') cannot be extended

SignedNumberExtensions.swift:15:18: Global function cannot return 'Self'

I set Build Settings/Swift language Version to Swift 3.2,but still as above.

[2017-09-07 06:03] omaralbeik commented on #224
@Bruce-pac as in my above comment, please use `v4` if you want to use with Xcode 9

[2017-09-07 10:08] #223 closed

[2017-09-07 16:20] #236 closed

[2017-09-11 16:21] drewpitchford opened #243 "UIViewController extension 'navigationBar' causes crash on iOS 11"
[x ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
I have my own UIViewController extension file where I have a method for setting up the `prefersLargeTitles` for my various VCs. The following line causes a crash with error `Thread 1: EXC_BAD_

[2017-09-11 17:25] omaralbeik commented on #243
All what `navigationBar` is doing behind the scenes is referring to `self.navigationController?. navigationBar`.
The app crashes with or without the use of `SwifterSwift`.

I think it is crashing because there is parent navigation controller, but there is no navigation bar. In order to get this to work, the view controller should have an active navigation item.

@drewpitchford I updated your demo

[2017-09-11 17:28] drewpitchford commented on #243
Yes, it crashes if you use that because the extension is on UIViewController. So if you do `navigationController?.navigationBar`, it still accesses SwifterSwift's extension. Try the project without SwifterSwift installed and you see that it will not crash when accessing via `navigationController?.navigationBar`. @omaralbeik

[2017-09-11 17:31] SD10 commented on #243
@drewpitchford What SwifterSwift extension is causing this problem?

[2017-09-11 17:31] drewpitchford commented on #243
@SD10 `navigationBar` on UIViewController Extensions.

[2017-09-11 17:45] omaralbeik commented on #243
I'm sorry for the misunderstanding

@SD10 it looks like having a variable called `navigationBar` in **UIViewControllerExtensions.swift** causes the issue, I'm not sure if it is a bug in UIKit or Apple has some private variable with the same name, what do you guys think?
when the name is changed to anything else everything works 🤔

@drewpitchford for now you can comment out or remove the extension

[2017-09-11 17:49] drewpitchford commented on #243
Yes, that’s what I did. I tried to fix it and wanted to submit a PR, but could not figure out the issue.

[2017-09-11 17:49] SD10 commented on #243
I downloaded the example project but I can't even see where this `prefersLargeTitles` extension is declared?

[2017-09-11 17:50] drewpitchford commented on #243
It is part of UINavigationBar in iOS 11.

[2017-09-13 12:30] sisoje opened #244 "SignedNumber extension does not compile on Xcode9"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Compiled a project that worked in Xcode8

### What did you expect to happen?
Success

### What happened instead?
Compiler error

### SwifterSwift Environment

- SwifterSwift version: 3.1.1
- Xc

[2017-09-13 12:36] SD10 commented on #244
@sisoje What version of SwifterSwift are you using?

[2017-09-13 12:43] sisoje commented on #244
xcode uses swift 4 i guess

[2017-09-13 12:47] omaralbeik commented on #244
@sisoje SwifterSwift 3 is not compatible with Xcode9/Swift4.
We're working on v4 in the [`swift-4`](https://github.com/SwifterSwift/SwifterSwift/tree/swift-4) branch, which will bring support for Xcode9 and Swift 4.

[code]

Please let me know if you still face the same issue using v4

[2017-09-13 12:48] sisoje commented on #244
hey swifter swift 3.1.0 works!

[2017-09-13 12:50] omaralbeik commented on #244
@sisoje `v3` is not meant to be used with Swift4 or Xcode 9.
Please use `v4` as in the above message :)

[2017-09-13 12:54] sisoje commented on #244
The point is that i only use /Foundation subspec, so in my case it's sufficient to use 3.1.0
I will wait for the final v4 release patiently, I am lazy to patch Podfiles, its easier to fix it in the podspec of my own pod, Thanks anyway

[2017-09-13 12:54] #244 closed

[2017-09-14 21:30] mperovic opened #245 "Non-nominal type 'SignedNumber' (aka 'Comparable & SignedNumeric') cannot be extended"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Try to compile app in Xcode 9 GM

### What did you expect to happen?
Compilation without error

### What happened instead?
Received error: Non-nominal type 'SignedNumber' (aka 'Comparable & Sig

[2017-09-14 21:40] omaralbeik commented on #245
@mperovic as mentioned in #234 SwifterSwift 3 is not compatible with Xcode9/Swift4.
We're working on v4 in the [`swift-4`](https://github.com/SwifterSwift/SwifterSwift/tree/swift-4) branch, which will bring support for Xcode9 and Swift 4.

[code]

Please let me know if you still face the same issue using v4

[2017-09-14 21:45] mperovic commented on #245
I'm still on Swift 3.2, so this suggestion doesn't help :(

[2017-09-14 21:54] omaralbeik commented on #245
@mperovic I see 🤔, as a temporary solution you can use `v3.0.0` while we investigate the issue more tomorrow :)

[2017-09-15 12:36] Kanhaiyakon opened #247 "How to use the NSColor extensions in swift 3"
suppose I have a UI button and I wanted to give the colour of Facebook so how can I use the extension pls suggest me

[2017-09-15 12:39] Kanhaiyakon commented on #186
can u suggest me how to use the NSColor extension in my project

[2017-09-15 12:51] SD10 commented on #247
@Kanhaiyakon We have an extension called `NSColor.facebook` which you can use to get the color for Facebook 😃

[2017-09-15 13:06] Kanhaiyakon commented on #247
@SD10  I am a new learner of swift so please see my code and pls correct it.

import UIKit

class ViewController: UIViewController {

    @IBOutlet weak var Button: UIButton!
    override func viewDidLoad() {
        super.viewDidLoad()
    Button.backgroundColor = NSColor.social.facebook
    }

}
#if os(macOS)
    import Cocoa
public extension NSColor {

    public struct social {
        // http

[2017-09-15 13:10] SD10 commented on #247
@Kanhaiyakon You're using `NSColor` which is available on `macOS`. You need to be using `UIColor` if you're working on iOS:

[code]

[2017-09-15 13:21] Kanhaiyakon commented on #247
@SD10  thanks so much

[2017-09-15 13:30] #247 closed

[2017-09-15 13:37] SD10 commented on #243
@drewpitchford Thanks for reporting this, this extension will be removed in `v3.2`.

What was happening is we extend `UIViewControlelr` with a property called `navigationBar`. This property is then inherited by `UINavigationController` which already has a `navigationBar` property of its own.

The SwifterSwift version of this property is favored over the `UINavigationController` version and they ha

[2017-09-15 13:37] #243 closed

[2017-09-16 07:38] #245 closed

[2017-09-17 13:37] sixty8 opened #249 "Carthage Build Failed: SwifterSwift 3.2.0, Xcode 8.3.3, swift 3.2"
Build Failed
	Task failed with exit code 65:

This usually indicates that project itself failed to compile.

[2017-09-17 14:07] SD10 commented on #249
@sixty8 If you're using SwifterSwift 3.2 you need to be using Xcode 9

[2017-09-20 04:50] gabriellanata commented on #177
Will this be released soon? Thanks!

[2017-09-20 08:07] omaralbeik commented on #177
@gabriellanata We're working or releasing `v.4.0.0` within the next 7 days 😃

[2017-09-26 22:35] RamblinWreck77 commented on #177
Hello! Any update? Hope it's going well!

[2017-09-27 11:05] omaralbeik commented on #177
@RamblinWreck77 everything is going well, I was busy with other projects 😅
will release `v4` today hopefully

[2017-09-27 12:00] omaralbeik commented on #177
![screen shot 2017-09-27 at 14 59 48](https://user-images.githubusercontent.com/8127757/30912249-8c3a6c24-a394-11e7-85b1-314f02255288.jpg)

[2017-09-27 12:00] #177 closed

[2017-09-28 06:50] omaralbeik opened #255 "Add macOS testing to Travis"
Right now we are not testing the `SwifterSwift-macOS` scheme on Travis CI, due to the following error:
[code]

Well, we need to fix this 😅

[2017-09-28 06:56] omaralbeik opened #256 "Make Travis run SwiftLint and pod lint lint"
It would be very helpful to let Travis run both `swiftlint` and `pod lib lint` and report any problems!

[2017-09-28 07:01] omaralbeik opened #257 "Add unit tests for NSColor extensions"
Add tests for NSColor extensions as we have for UIColor

[2017-09-28 07:15] omaralbeik opened #258 "Add isWithin method to Date extensions"
Right now we have a convenient way to check if date is within a current component using the `isInCurrent` method, but sometimes we want to check if date is within a component of another date.
Example: is date within February of year 2015?

A suggested way to do this:
[code]

[2017-09-28 07:18] omaralbeik commented on #258
This will be helpful when using with a calendar framework like [JTAppleCalendar](https://github.com/patchthecode/JTAppleCalendar) to check if a date is within the currently displayed month

[2017-09-28 07:28] SD10 commented on #256
We just need to add this to the Dangerfile. I added the SwiftLint danger plugin:
[code]

[2017-09-28 07:30] SD10 commented on #257
I'm pretty sure our unit tests can take the same approach as we use for the extensions? I have a project with a test target where I do tests on both `UIImage` and `NSImage`.

[2017-09-28 07:35] omaralbeik commented on #257
@SD10 that makes sense, then we need to have a **Shared** folder for both `UIKit` and `AppKit` tests and rename `UIColor` to `Color`

[2017-09-28 07:48] SD10 commented on #255
Maybe the `SwifterSwift-macOS` target needs to set Code Signing Identity under Build Settings to Don't Code Sign for Debug/Release

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-28 07:58] omaralbeik commented on #255
I did, it was raising another error:

[code]
even though I have it under my developer account ¯\_(ツ)_/¯.
This started to happen after Travis updated their mac provider recently

[2017-09-28 12:56] LucianoPAlmeida commented on #255
@omaralbeik Did you set the SwifterSwift-macOS or the SwifterSwift-macOSTests Code Signing None?

[2017-09-28 12:57] omaralbeik commented on #255
@LucianoPAlmeida right now it is none, but I tried settings it to my own account and it didn't work.
It works when I run the tests locally but not when Travis does.

[2017-09-28 13:03] LucianoPAlmeida commented on #255
![screen shot 2017-09-28 at 09 57 39](https://user-images.githubusercontent.com/8292651/30967784-ac193030-a433-11e7-987a-555fb90d9dd5.png)
I saw this on the target tests for macos only and thought it might be the problem, but since you already change it ¯_(ツ)_/¯, i'll try to take a look also see if i can find something :)

[2017-09-28 13:09] LucianoPAlmeida commented on #255
@omaralbeik I find that the test were not runing localy on my machine because of the same error
![screen shot 2017-09-28 at 10 06 57](https://user-images.githubusercontent.com/8292651/30968170-cef5fe52-a434-11e7-827f-0cb8d59253c8.png)
Fixed it changing the code sign identity of the macOSTest traget from MacDeveloper to Don't Code Sign

[2017-09-28 13:20] omaralbeik commented on #255
Thanks @LucianoPAlmeida, will try it today :)

[2017-09-28 14:30] #255 closed

[2017-09-29 08:49] vadimue commented on #258
I also have tried to implement this method, and have created method signature proposed @omaralbeik
[code]
The difference between @ayastrebov version in `value:  Int` parameter. But I think your version more proper.

[2017-10-02 16:33] omaralbeik opened #266 "Avoid triggering Travis build if only README is updated"
This should also apply to other **non-code** files, we don't want to bother Travis with stuff he does not know 😂

[2017-10-02 16:48] gempir commented on #266
This is not possbile at the moment: https://github.com/travis-ci/travis-ci/issues/6301

[2017-10-02 17:55] omaralbeik commented on #266
@gempir then it is not a starter-task anymore 😅, thank you for the update

[2017-10-02 17:55] #266 closed

[2017-10-02 22:30] SD10 commented on #256
This is closed by #264

[2017-10-02 22:30] #256 closed

[2017-10-05 00:55] sidmani opened #274 "Chained comparison operators (5 < 6 < 7)"
I wrote some code for chaining comparison operators, and would love to contribute it to SwifterSwift. Here's what it looks like:
[code]
This allows comparisons of an arbitrary number of Comparable objects, so `(a < b && a > c)` can be replaced with `(b > a > c)`. Any thoughts? I'll write a pull request if you like the idea.

[2017-10-05 06:26] omaralbeik commented on #232
@timyply We will close this issue for now, please feel free to re-open it again if you faced the same issue

[2017-10-05 06:26] #232 closed

[2017-10-05 06:34] omaralbeik commented on #274
@sidmani I love it!
Please go ahead and open a pull request, and I will make sure to merge it as soon as possible

[2017-10-05 08:16] sidmani commented on #274
@omaralbeik Having a couple issues with ambiguous operators that didn't show up in the playground I tested it in, but I'll let you know if it works.

[2017-10-07 14:19] #257 closed

[2017-10-07 15:16] omaralbeik commented on #249
@sixty8 Will close the issue for now, please let us know if you faced the same issue after using `v4` with Xcode9

[2017-10-07 15:16] #249 closed

[2017-10-07 19:36] sahabe1 opened #277 "Not working in xcode 9"
Not working in xcode 9

[2017-10-07 20:12] omaralbeik commented on #277
@sahabe1
We're already using SwifterSwift in Xcode 9, [installation guide](https://github.com/SwifterSwift/SwifterSwift#installation).
However if it didn't work for you, please specify more details to let us assist you:
- what exactly is not working?
- what version of SwifterSwift are you using?
- what method are you using to integrate SwifterSwift into your project?
- Attach an example if possibl

[2017-10-07 20:24] SD10 opened #278 "Mark all SwifterSwift XCTestCase subclasses as final"
All SwifterSwift `Test` classes should be marked as `final`. This can possibly shave some time off compile time 😉

[2017-10-08 02:55] Zaccc123 commented on #278
I could do it 😄

[2017-10-08 05:47] SD10 commented on #278
This is closed by #279 🎉

[2017-10-08 05:47] #278 closed

[2017-10-08 06:28] sahabe1 commented on #277
please see attachment

<img width="1184" alt="screen shot 2017-10-08 at 11 56 07 am" src="https://user-images.githubusercontent.com/1065015/31314497-e633e5be-ac1f-11e7-9261-be58d09286c6.png">
<img width="826" alt="screen shot 2017-10-08 at 11 56 33 am" src="https://user-images.githubusercontent.com/1065015/31314498-e644933c-ac1f-11e7-80cc-ef7d17b84dad.png">

[2017-10-08 06:32] omaralbeik commented on #277
@sahabe1 It looks like you are still using `v3` please update to `v4`.
You can update your pods by typing
[code]

[2017-10-09 01:42] SD10 opened #282 "CodeCov is not displaying coverage for Sources"
CodeCov is no longer showing coverage for `SwifterSwift/Sources`. I think this could be due to the refactoring of the projects internal structure.

[2017-10-10 03:16] agfa555 commented on #277
I'm using Xcode Version 9.0 (9A235) with SwifterSwift version 4.0.1
Here's the list of errors Xcode throws:

<img width="367" alt="screenshot 2017-10-10 10 14 50" src="https://user-images.githubusercontent.com/584359/31367797-e9c48ab4-ada3-11e7-9773-bdaef39b525d.png">

[2017-10-10 04:00] SD10 commented on #277
@agfa555 What version of Swift are you using? You need `Swift 4` for `SwifterSwift 4.0`

[2017-10-10 08:20] agfa555 commented on #277
I had forgotten about that minor little detail. 👯‍♂️
All solved now.
Sorrrry...

[2017-10-10 15:41] omaralbeik commented on #282
@SD10 I think this issue started after adding macOS testing to Travis
All UIKit tests are not running as in [codecov report](https://codecov.io/gh/SwifterSwift/SwifterSwift/tree/master/Tests)

[2017-10-10 16:55] #282 closed

[2017-10-10 19:29] SD10 commented on #282
Thanks for fixing this 👍 @omaralbeik

[2017-10-11 04:14] jeff77731 commented on #277
Hi, @agfa555

I have the same problem

How do you solve it?

[2017-10-12 23:02] LucianoPAlmeida opened #286 "Some UIKit/Cocoa coupled dependecies on the Stdlib and Fondation modules"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.
Hey guys @omaralbeik @SD10 :)
There is some Stdlib and Foundation files that are importing UIKit/Cocoa modules. I think this couple the Stdlib and foundantion when you have for exemple a String extension that takes

[2017-10-20 21:05] omaralbeik opened #292 "Fix Slack channel button in README"

[2017-10-22 11:35] omaralbeik opened #294 "Check all extensions for cross-dependancies"
The idea behind SwifterSwift is to have the widest collection of extensions grouped in one place, and at the same time give users the ability to copy any extension and use it as an independent unit in their code.

We want to double check one final time that all extensions follow the above pattern and the scope of each unit in inclosed within it.

One suggested approach to do this, is for each file

[2017-10-22 11:35] #292 closed

[2017-10-22 11:46] omaralbeik commented on #294
#286 can be addressed here as well

[2017-10-22 14:33] kaphacius commented on #294
@omaralbeik by each unit, do you mean that each extension has to be self-sufficient?

[2017-10-22 15:02] omaralbeik commented on #294
By unit I mean any variable or function inside an extension
example:

[code]

[code]

here `a`, `b`, `c` and `d` are units,
`c` for example should not depend on `d`, `a` any other unit

[2017-10-22 15:05] #258 closed

[2017-10-25 07:29] omaralbeik opened #298 "Date.year not working"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
I used Date.year extension to update year component of a date.

### What did you expect to happen?
year component to be changed.

### What happened instead?
Year didn't change.

### SwifterSwif

[2017-10-25 07:43] SD10 commented on #298
@omaralbeik Can you try `date.year = 1` and let me know what the output is? 🤔

[2017-10-25 07:45] SD10 commented on #298
Nevermind, I thought maybe we were using the wrong method. Not sure on this one

[2017-10-25 07:47] kaphacius commented on #298
i'll look into this if that's ok

[2017-10-25 07:52] omaralbeik commented on #298
I found [this stack overflow thread](https://stackoverflow.com/questions/17084908/change-year-month-and-day-of-nsdate-object) about it.
apparently `Calendar.current.date(bySetting: .year, value: newValue, of: self)` is returning nil for some reason.

@kaphacius Absolutely!, contributions are always welcome and appreciated 😃

[2017-10-25 07:59] kaphacius commented on #298
it returns nil if the year is in the past for some reason. i'll use a different way of constructing a Date

[2017-10-25 08:02] omaralbeik commented on #298
@SD10, @kaphacius I think we should add tests for dates at past and future for other components as well

[2017-10-25 21:14] BenLeggiero commented on #274
Any progress on this? I'd love to see it!

[2017-10-25 21:42] sidmani commented on #274
@BenLeggiero The code I posted only works in playgrounds for some reason, and fails in real projects because of overloading ambiguity. I have no idea why it succeeds in one setting but not the other- do you have any insight?

[2017-10-25 23:44] LucianoPAlmeida commented on #298
This is really strange, the apple docs for [date(bySetting:value:of:)](https://developer.apple.com/documentation/foundation/calendar/2292915-date) do not say anything about the case when it could return nil :(
Fun fact: this StackOverflow thread that @omaralbeik found has a link to [this related issue](https://github.com/onmyway133/blog/issues/54) on other GitHub repo with some alternatives to ove

[2017-10-26 03:36] SD10 commented on #298
Does this bug affect any other `Date` extensions that have a similar implementation?

[2017-11-04 11:48] #294 closed

[2017-11-04 11:49] #277 closed

[2017-11-04 18:39] omaralbeik opened #301 "Add more Date extensions tests"

[2017-11-04 18:40] omaralbeik opened #302 "Rewrite DateExtensions"

[2017-11-04 18:49] omaralbeik opened #303 "SpriteKit and SceneKit extensions"
Think about extensions to help game developers using SpriteKit and SceneKit; examples:
- Bring `UIColor` extensions to `SKColor`
- Add methods to simplify animating `SKNode` objects
- and more ..

Unfortunately my experience with developing games is very limited, but I think adding such extensions to SwifterSwift would be a nice addition, especially that we're now using spspecs!

[2017-11-04 21:51] #298 closed

[2017-11-05 10:28] omaralbeik opened #304 "'characters' is deprecated: Please use String or Substring directly"
Xcode 9.1 is suggesting to use String directly

[code]

[2017-11-05 15:57] omaralbeik opened #306 "Update copyright headers"
Xcode added the following header by default:
[code]
**SwifterSwift is a community effort**, lets update copyright headers to
[code]

[2017-11-05 16:53] #286 closed

[2017-11-07 17:46] omaralbeik commented on #306
Closed in #308

[2017-11-07 17:46] #306 closed

[2017-11-07 21:57] BenLeggiero commented on #274
@sidmani I decided to try my hand at this, starting from scratch. Making the names long and descriptive helped alot! I got it working just fine in a framework
https://gist.github.com/BenLeggiero/5bbd4f0b9cf0fc55dc62be6296b266d1

[2017-11-07 22:12] sidmani commented on #274
@BenLeggiero Did you try adding your code to SwifterSwift? It still doesn't work for me- the same compile error "Ambiguous operator declarations found for operator" shows up in the test target.

[2017-11-08 03:15] sidmani commented on #274
I think the problem occurs when you import Foundation because that’s where the other operators are defined. That’s why SwifterSwift’s test target doesn’t compile.

[2017-11-08 11:54] omaralbeik opened #310 "Calendar extensions"
### Add extensions for Calendar.

Example: a convenient method to get number of days in a month for date

[code]

[2017-11-09 13:48] omaralbeik opened #312 "Update Travis to Xcode 9.1"
https://docs.travis-ci.com/user/reference/osx/#xcode-91

[2017-11-10 07:45] #310 closed

[2017-11-11 21:53] #301 closed

[2017-11-11 21:53] #302 closed

[2017-11-12 17:21] omaralbeik commented on #304
Thank you @LucianoPAlmeida for taking care of this :)

[2017-11-12 17:21] #304 closed

[2017-11-13 06:58] #312 closed

[2017-11-13 15:13] BenLeggiero commented on #274
@sidmani Yes, in my test project (a console app) I'm using Foundation and it works fine for me. Perhaps it's because I'm using Swift 4?

[2017-11-13 18:47] sidmani commented on #274
@BenLeggiero I'm using swift 4 too. Can you try adding the code to SwifterSwift itself?

[2017-11-16 10:20] omaralbeik opened #317 "Add CHANGELOG Guidelines"
I was reviewing the 29 commits we had after our last release and making sure CHANGELOG is up to date. I won't lie, it was not fun at all to check each commit and figure our changes 😅

Here is an [amazing guideline](https://github.com/MessageKit/MessageKit/blob/master/CHANGELOG_GUIDELINES.md) from [MessageKit](https://github.com/MessageKit) maybe we can use it as a reference if @SD10 doesn't
 mind

[2017-11-16 10:22] kaphacius commented on #317
maybe we should add it as a one of the checklist items when opening a PR, so users won't forget about it :)

[2017-11-16 19:30] omaralbeik opened #318 "Add Lorem ipsum extension to String!"
Add `loremIpsum(ofLength length: Int)`

[code]
https://www.lipsum.com/

[2017-11-16 20:52] omaralbeik commented on #318
An initializer is also a good addition
[code]

[2017-11-27 16:51] omaralbeik opened #322 "Add replacingOccurrences extension to NSAttributedString"
Add `replacingOccurrences` method to `NSAttributedString` to replace occurrences of a string with another string, like `String` has:

[code]

[2017-11-27 16:53] omaralbeik commented on #322
It would be even better to post an answer with the extension to this [Stackoverflow thread](https://stackoverflow.com/questions/47515536/replace-all-occurrences-of-a-character-in-an-substring-of-nsattributedstring) as well :)

[2017-11-29 08:14] omaralbeik opened #324 "Add lighter and darker properties to Color"
Sometimes we want to get a slightly darker or lighter color from a UIColor or NSColor.
It would be nice to have a couple of properties:
- `lighter` to return slightly lighter color
- `darker` to return slightly darker color

Or even better to make it a function with the ability to set the level of change.

[2017-11-30 16:24] omaralbeik opened #326 "Add random and randomBetween extensions to Date"
It would be nice to have the following additions to DateExtensions

1. property `random` to return random date object.
2. function `random(between startDate: Date, and endDate: Date) -> Date {}` to return a random date between two dates.

[2017-12-04 12:48] omaralbeik opened #328 "Add textColor to UIDatePicker"
Add the property `textColor` to get and set text color for UIDatePicker.

More:
https://stackoverflow.com/questions/28417217/set-text-color-and-font-for-uidatepicker-in-ios8-swift

[2017-12-04 12:54] omaralbeik commented on #324
Added in #325. Thanks to @oettingerj 👍

[2017-12-04 12:54] #324 closed

[2017-12-04 17:47] jpghelfi opened #329 "After installing SwifterSwift my view´s corner radius changed"
### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: 4.0.1
- Xcode version: 9.0
- macOS version running Xcode: Sierra 10.12.6
- Swift version: 3.2
- Platform(s) running SwifterSwift: iOS 11

[2017-12-04 18:00] omaralbeik commented on #329
Hey @jpghelfi, I'm not sure I understood the problem clearly :)

SwifterSwift has the extension [`cornerRadius `](https://github.com/SwifterSwift/SwifterSwift/blob/master/Sources/Extensions/UIKit/UIViewExtensions.swift#L76) to set corner radius a for a UIView, all it does is setting cornerRadius for view's layer, and nothing more.

Could you please place 2 `print(yourView.layer.cornerRadius)` stat

[2017-12-06 11:14] sahabe1 opened #331 "Error occured after updating 4.1.0 in xcode 9.2"
<img width="843" alt="screen shot 2017-12-06 at 4 39 37 pm" src="https://user-images.githubusercontent.com/1065015/33659046-c6aa2c2c-daa4-11e7-94e6-be9e9c2a54c9.png">

[2017-12-06 14:42] omaralbeik commented on #331
@sahabe1 Could you clean and rebuild from Product menu in Xcode and let me know if the problem still exist

[2017-12-07 07:43] omaralbeik commented on #326
@akuzminskyi sounds good to me :)
could you submit a pull request with the above method please

[2017-12-07 09:57] sahabe1 commented on #331
still facing same issue

[2017-12-07 11:16] omaralbeik commented on #331
@sahabe1 Are you using Swift 3.2 or 4 ?

[2017-12-07 11:20] sahabe1 commented on #331
<img width="295" alt="screen shot 2017-12-07 at 4 49 25 pm" src="https://user-images.githubusercontent.com/1065015/33712812-c5fb1dfc-db6e-11e7-835e-2b541b7c81fd.png">

[2017-12-07 11:22] omaralbeik commented on #331
@sahabe1 This is SwifterSwift version, I meant your project that you are using SwifterSwift in

[2017-12-07 18:55] SD10 opened #333 "Add an extension to get all attributes on an NSAttributedString"
Add an extension to get all attributes on an NSAttributedString:

[code]

[2017-12-08 10:58] Asura19 opened #334 "Questions about DateExtensions"
1. My English is not very good,  what do the date component "era" and "quarter" mean ? Does "era" mean A.D. / B.C ? Does Jan&Feb&Mar mean first quarter?
2. If it is like I said, why era always return 1, and quarter always return 0(OC return nil)? A Foundation bug?
([same problem about this](https://github.com/lionheart/openradar-mirror/issues/12581))
`var date = Date()    ---> "Dec 8, 2017 at 6:35

[2017-12-08 22:22] omaralbeik commented on #334
@Asura19 Thank you for bringing this discussion
I'd be more than happy to answer your questions :)

_To confirm_:
Are you using the latest version **v4.1** of SwifterSwift? since DateExtensions got a complete re-write in **v4.1**

[2017-12-08 23:40] Asura19 commented on #334
@omaralbeik I'm terribly sorry, I got a v4.0.1 😅😅 😅😅 😅😅 😅😅,  just a downloaded version in November, feeling embarrassed.................

[2017-12-08 23:46] omaralbeik commented on #334
@Asura19 No problems at all, please let me know if you have any other question :)

[2017-12-08 23:48] Asura19 commented on #334
@omaralbeik what does "era" mean?

[2017-12-10 18:03] omaralbeik commented on #334
As [Apple's documentation]() says :

Which is not clear for me 😅, I tried reading the following [Wikipedia article](https://en.wikipedia.org/wiki/Era) as well, and here is what I found:

I've never used era before in any project, what we're doing in SwifterSwift is linking directly to Apple's era implementation.
You might want to ask the question in Apple's Support form to get a clear answer with

[2017-12-10 18:04] #318 closed

[2017-12-10 18:04] #328 closed

[2017-12-10 18:06] omaralbeik commented on #329
@jpghelfi any update on this :)

[2017-12-11 07:49] Asura19 commented on #334
@omaralbeik Thank you very much!!!

[2017-12-11 07:50] #334 closed

[2017-12-13 06:08] JulianYu opened #338 "Add an extension to create a MD5 hash from a string"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you expect to happen?

[2017-12-13 08:16] omaralbeik commented on #338
@JulianYu, thats a nice extension to have, could you please submit a pull request and I'll make sure to review it and get it merged in as soon as I can 👍

[2017-12-13 08:27] omaralbeik commented on #338
I found this [stackoverflow thread](https://stackoverflow.com/questions/32163848/how-to-convert-string-to-md5-hash-using-ios-swift) that has a suggested way of doing this.

[2017-12-14 08:02] #326 closed

[2017-12-15 08:34] #331 closed

[2017-12-15 08:35] #329 closed

[2017-12-19 08:01] nathanbacon commented on #333
Hey Steven, I'm running into trouble with this. There are two types of possible strings this could be applied to:

One where the attributed is applied across the whole string as in
`NSAttributedString("Test").bolded`

and another where there are multiple attributes of the same type across the string
`NSAttributedString("Red").colored(with: UIColor.red) + NSAttributedString("Blue").colored(with: UI

[2017-12-19 15:46] SD10 commented on #333
Hey @nathanbacon!
I was only thinking of homogenous Strings so it is indeed an easy extension. If you think you have a solution for strings with multiple attributes under a single key, I’d look at that too

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-20 08:13] SD10 commented on #338
@omaralbeik What do you think about this? SwifterSwift has very little to no limitations when it comes to which extensions we accept into the project, but I think avoiding adding cryptography extensions is a healthy limitation.

[2017-12-20 09:21] omaralbeik commented on #338
@SD10 I agree. let's not get into cryptography for now

[2017-12-20 09:24] omaralbeik commented on #338
@JulianYu Thank you for bringing this to the table. We don't think SwifterSwift is a good fit for cryptography extensions at the moment, [CryptoSwift](https://github.com/krzyzanowskim/CryptoSwift) is taking care of this :)

[2017-12-20 09:24] #338 closed

[2017-12-22 22:49] SD10 commented on #333
Closed by #340

[2017-12-22 22:49] #333 closed

[2018-01-02 18:53] SD10 opened #350 "Update LICENSE copyright date to 2018"
https://github.com/SwifterSwift/SwifterSwift/blob/master/LICENSE
[code]

[2018-01-02 20:22] richgabrielli commented on #350
Hi. I am looking to get involved with a Swift project this year. Is anyone working on this? How can I get started / help?

[2018-01-02 21:19] SD10 commented on #350
Hey @richgabrielli,

First, you need to fork the `SwifterSwift` repository to your personal account. You can see the fork button in the top right corner next to the stars. (Please start the project if you haven't already 😂)

Then you need to clone your fork to your local machine, make changes to the LICENSE.md file, and
then push your changes back up to your fork.

After you do that, you need to c

[2018-01-02 21:26] richgabrielli commented on #350
Thanks! I will give it a shot. I have done a few tutorials on GitHub and I understands all your words so I will give it a shot. 🤣

[2018-01-02 21:44] richgabrielli commented on #350
I submitted the pull request, but received a message I was not expecting. Do I need to do anything else? Can you help?

<img width="815" alt="screen shot 2018-01-02 at 4 43 23 pm" src="https://user-images.githubusercontent.com/7821160/34501271-22ba0298-efdc-11e7-9fd4-6cd5b551a5b4.png">

[2018-01-02 21:46] SD10 commented on #350
@richgabrielli No worry. That is just our continuous integration software. Everytime someone submits a PR it runs the changes against all our unit tests to make sure nothing broke

[2018-01-02 21:48] SD10 commented on #350
This was closed by #351

[2018-01-02 21:48] #350 closed

[2018-01-02 21:52] richgabrielli commented on #350
Great! That was pretty awesome. I need to look at a Swift topic. Can I ask a quick question? Do I need to delete my fork and re-fork each time I want to work on an issue?

[2018-01-02 21:57] SD10 commented on #350
No you don’t have to. However, sometimes a fork can go stale... meaning it doesn’t reflect the changes of the original repo. I would recommend you read:

https://help.github.com/articles/configuring-a-remote-for-a-fork/

This tells you how to add a remote reference to the original repository

and then how to pull the changes into your local copy:

https://help.github.com/articles/syncing-a-fork/

[2018-01-03 08:13] Najdan commented on #322
@omaralbeik Stackoverflow thread link points to non existing page (404).

[2018-01-03 09:07] omaralbeik commented on #322
@Najdan, it looks like the question was removed 😞. anyway, it was a thread where someone asked the same question above :)

[2018-01-03 14:54] richgabrielli commented on #350
@SD10 - why does my local forked branch show up as out of sync with the update I changed?
<img width="1015" alt="screen shot 2018-01-03 at 9 50 22 am" src="https://user-images.githubusercontent.com/7821160/34525188-16d16ad0-f06c-11e7-8351-f481e4129fc7.png">

[2018-01-03 15:51] SD10 commented on #350
@richgabrielli your fork doesn't mirror the original repo. this is because maybe you want to fork a project and then work on it / take things in another direction. you have to update it manually if you want it to stay in sync. that's what those 2 links above are for

[2018-01-03 15:53] richgabrielli commented on #350
Thanks. Which two links?

[2018-01-03 15:58] SD10 commented on #322
I think this extension should be on `NSMutableAttributedString` (if it isn't already) and not `NSAttributedString`.

[2018-01-03 16:08] richgabrielli commented on #350
@SD10 - I just noticed this: thoughts?

<img width="684" alt="screen shot 2018-01-03 at 11 07 18 am" src="https://user-images.githubusercontent.com/7821160/34528280-646277da-f076-11e7-8a29-bd645196343c.png">

[2018-01-03 16:13] SD10 commented on #350
I meant this:
https://github.com/SwifterSwift/SwifterSwift/issues/350#issuecomment-354885903

CI error is fine, I canceled the build because there were no code changes.

[2018-01-03 16:25] richgabrielli commented on #350
@SD10 - Thanks. I did follow the links and had no issues executing the commands.
I still have this message: This branch is 1 commit ahead, 1 commit behind SwifterSwift:master.
I still receive this when I do a compare next to the message above

<img width="1039" alt="screen shot 2018-01-03 at 11 21 42 am" src="https://user-images.githubusercontent.com/7821160/34529042-b7b80e3e-f078-11e7-8282-14036f

[2018-01-03 16:36] richgabrielli commented on #350
@SD10 - I have really confused myself. I just want to get in sync and understand what is happeningI tried to do another pull request to see if that helps. I appreciate all your help.

[2018-01-03 18:17] SD10 commented on #350
You probably wanted to rebase and not merge. The goal is to get your branch even with SwifterSwift `master`.

[2018-01-04 02:19] Najdan commented on #322
@SD10, you are correct `NSMutableAttributedString` already contains method [`replaceOccurrences(of:with:options:range:)`](https://developer.apple.com/documentation/foundation/nsmutablestring/1412453-replaceoccurrences ).

<img width="796" alt="replace occurrences test" src="https://user-images.githubusercontent.com/4264802/34547787-f7a60d72-f0fd-11e7-9934-0d88afab3e85.png">

[2018-01-04 02:25] richgabrielli commented on #186
I would like to help. Not sure how.

[2018-01-04 04:20] SD10 commented on #322
Thanks @Najdan 👍

[2018-01-04 04:20] #322 closed

[2018-01-04 04:21] SD10 commented on #186
@richgabrielli Easiest way is just to submit an extension we don't have. If you're working on a project and write a clever extension, just contribute it here 😃

[2018-01-04 06:34] omaralbeik commented on #322
Thank you guys 💯

[2018-01-04 13:02] omaralbeik commented on #317
Closed by #353

[2018-01-04 13:02] #317 closed

[2018-01-05 20:38] SD10 opened #358 "Add timestamp to text extension"
Add an extension to turn a timestamp into text stating how long it's been from now. This is commonly used in social media / messaging applications.

Supporting these formats would be good:

- now
- N seconds ago
- N minutes ago
- N hours ago
- N days ago
- N week ago
- N month ago
- N years ago

[2018-01-09 09:30] XRadevFRT opened #359 "Can't see the extensions"
### What did you do?
I installed SwifterSwift with cocoapods (I tried to drag & drop the Extensions folder before that, but the result was the same)

### What did you expect to happen?
Well to start seeing and using the extensions

### What happened instead?
Although I see the inspectables in the storyboard, I don't see any of the public methods or properties after the **.** notation

### SwifterS

[2018-01-09 10:21] LucianoPAlmeida commented on #359
Hi @XRadevFRT :)
Did you make sure to put the `import SwifterSwift ` statement in the files you are trying to use the extensions?

[2018-01-09 13:11] XRadevFRT commented on #359
Hm no, I didn't. Just dropped the Extensions folder in the project, wrote the `import SwifterSwift` but an error **No such module 'SwifterSwift** appeared.

[2018-01-09 14:50] Najdan commented on #359
@XRadevFRT it may be bug in Xcode where you drop files into project but **Target Membership** is not set correctly for those files. @LucianoPAlmeida was talking about `CocoaPods` approach of installing **SwifterSwift**.

Try to drag & drop files again and then check if **Target Membership** is correct in **File Inspector**

[2018-01-10 13:33] XRadevFRT commented on #359
After adding the `import SwifterSwift` the features started showing (this is with the cocoapods installation). I got to say this is strange to me. After all the main point of the extensions is the easy feature-usage.
Thank you!
I hope this issue can help others or if someone has a better approach will contribute to this issue.
Happy coding!

[2018-01-10 13:46] Najdan commented on #359
@XRadevFRT That's just how `CocoaPods` are designed to work.

Did you tried manual installation (drag & dropping of Sources folder) make sure that **Copy items if needed** is selected and select targets where you want to use extension. If you are using older version of Xcode it had bug where dropping multiple files into project and selecting targets didn't actually set targets (nothing was selecte

[2018-01-10 17:10] #359 closed

[2018-01-10 17:11] LucianoPAlmeida commented on #359
Thank you @Najdan :)

[2018-01-10 17:40] omaralbeik opened #360 "Add an extension to get thumbnail image from a video URL"
Add an extension to `UIImage` to generate a thumbnail image from a video URL using `AVAssetImageGenerator` from `AVFoundation`

[2018-01-11 16:53] SD10 opened #361 "Add an extension to round a UIImage"
Add an extension to round a `UIImage`. Not the view. The actual image.

[2018-01-14 18:24] imjog commented on #186
Hi, a new contributor here :) looking forward to contribute

[2018-01-16 06:37] BackWorld opened #368 "About Array Extensions"
**> How can I get a subarray with a Range from an parent array?**
[code]

[code]

[2018-01-16 06:52] SD10 opened #369 "Fix Dangerfile unit tests not changed warning ⚠️"
The logic for the Dangerfile is wrong because I wrote it in a language I don’t know 🤷‍♀️

If the source files are modified and the test directory has not been modified, this should trigger the warning.

I’ll do it if no one picks it up, but this is an easy contribution 😇

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-17 19:46] nathanbacon commented on #368
`let subarray = array[0..<2]`
This would return an array slice which leaves the rest of the array in memory but not allocating in new memory. Are you asking how make a new array, allocating new memory for the subarray?

`array[0..<2].map { $0 }` would allocate new memory for the slice and the rest of the array would be thrown out when it goes out of scope.

[2018-01-18 19:59] SD10 opened #372 "Someone write me a script to count the number of extensions ❤️"
It would be nice to get the new count of the number of SwifterSwift extensions!
Maybe we could check for all `public var` and `public func` in all source files 😂

[2018-01-19 05:08] omaralbeik commented on #372
@pvtmert, tagging you here because I know you love this stuff :)

[2018-01-19 06:09] SD10 opened #373 "Setup Aeryn to invite new contributors"
We're going to adopt Moya's contributing / community guidelines and invite contributors to join the SwifterSwift organization after their first merged PR! We'll be automating the process using [Aeryn](https://github.com/Moya/Aeryn).

[2018-01-19 06:12] SD10 opened #374 "Update Contributing.md to explain SwifterSwift org membership"
We'll want to provide some information surrounding onboarding new users to the SwifterSwift organization. We could probably take same sections from [Moya's contributing guidelines](https://github.com/Moya/contributors/blob/master/Contributing.md#ownership).

[2018-01-19 16:34] pvtmert commented on #372
yes i do :)

[2018-01-26 05:39] BackWorld commented on #368
So thanks.

[2018-01-26 05:39] #368 closed

[2018-01-26 08:25] SD10 opened #376 "Fix CHANGELOG entry for #363"
The entry for #363 is accidently entered under SwifterSwift 4.1.1. It should be under the `Next` release section. This would be a really good issue to join SwifterSwift once I set up Aeryn 😉 😉

[2018-01-26 21:04] SD10 opened #377 "Update Contributing.md to explain SwifterSwift development process"
Now that we're using [Aeryn](https://github.com/Moya/Aeryn) to invite new contributors to the organization, we should probably use a development process that consists of using both `master` and `development` branches. This way we can test the waters and keep `master` safe until we get use to this.

[2018-01-26 21:05] SD10 commented on #373
This should be active. Looking for the first green PR to merge as a test 😃

[2018-01-26 21:43] #373 closed

[2018-01-27 16:00] omaralbeik commented on #372
I created a small script and named it [SwiftMeter](https://github.com/SwifterSwift/SwiftMeter) to scan our code base and generate some useful statistics, here is the initial report
[code]

[2018-01-27 18:05] omaralbeik opened #378 "Add license section to README"
I noticed today we don't have a link to license in README, it would be nice to add a section with a link to [LICENSE](https://github.com/SwifterSwift/SwifterSwift/blob/master/LICENSE)

[2018-01-27 22:48] SD10 commented on #372
Going to close this 👍

[2018-01-27 22:48] #372 closed

[2018-01-29 22:09] Vyax commented on #358
I could implement this, but we need a way to localize this feature. Does Foundation provide translations for terms like "hour(s)" or "year(s)"?

[2018-01-30 06:57] syq7970 opened #383 "Conflict between SwifterSwift and React-Native"
[ x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
I have a React-Native based project, and I use SwifterSwift in the native part.

### What did you expect to happen?
Everything will be OK.

### What happened instead?
Got a crash when I set te

[2018-01-30 07:50] Najdan commented on #358
I found few possible solutions for this issue but I didn't had time to finish it. `DateComponentFormatter` looks like best, but I found problems with it which seems like bugs. I'll attach code and screenshots so if @Vyax you have more time you can improve it. I'm really short on time these days. One of my questions was translation support too and [`DateComponentFormatter`](https://developer.apple.

[2018-01-30 20:39] SD10 commented on #383
I'm not sure how to handle this one. I'm unfamiliar with react native 😕

[2018-01-31 07:10] syq7970 commented on #383
@SD10 @omaralbeik Thanks for the reply, I will update the PR as you suggest

[2018-01-31 07:56] #383 closed

[2018-02-01 05:29] #361 closed

[2018-02-02 09:19] SD10 opened #389 "Update Contriibuting.md to explain 1:1 ratio between extensions and tests"
Every SwifterSwift extension (properties, methods, inits) should have its own separate test.

[2018-02-04 10:38] a1bertwang opened #391 "array.sum() crash"
### What did you do?

### SwifterSwift Environment

- SwifterSwift version: 4.0.0+
- Xcode version: 9.2
- macOS version running Xcode: 10.13.3
- Swift version: 4.0
- Platform(s) running SwifterSwift: 4.0

[2018-02-05 21:01] akuzminskyi commented on #391
As for me, this looks like correct behavior("out of stack space") because a developer precisely indicates what type of data he works.

[2018-02-06 07:23] a1bertwang commented on #391
UInt8.max is 255. If the total variable is over than UInt8.max then got a type overflow.The total should not be input array's type in this case. Function sum() should think about type overflow.

[2018-02-06 07:30] SD10 commented on #391
I don't think this is something that SwifterSwift should be responsible for. It's kind of an edge case. I would just write my own sum function and handle the return type accordingly 😅

[2018-02-06 07:50] #391 closed

[2018-02-06 21:49] SD10 commented on #369
Closed by #394

[2018-02-06 21:49] #369 closed

[2018-02-08 22:10] seifeet opened #395 "StringExtensions - isNumeric - incorrect behavior"
### What did you do?
po "1-2".isNumeric
true

	/// SwifterSwift: Check if string contains only numbers.
	///
	///		"123".isNumeric -> true
	///		"abc".isNumeric -> false
	///

### What did you expect to happen?
Should be false

### What happened instead?
Returned true

### SwifterSwift Environment

- SwifterSwift version: 4.1
- Xcode version: 9.2
- macOS version running Xcode: High Sierra
- Swift

[2018-02-08 22:36] SD10 commented on #395
@seifeet totally agree. We should consider special characters and not just letters. Care to make a PR fixing this?

[2018-02-08 22:47] wdcurry commented on #395
Some might consider this as a testable result. in this case, 1-2 could equal -1, which is numeric.

[2018-02-08 23:21] seifeet commented on #395
@wdcurry yes but "1*-@.-.-2".isNumeric will also return true

[2018-02-08 23:23] SD10 commented on #395
@wdcurry You brought to my attention that we need to watch for signed numbers. 👌

[2018-02-08 23:23] seifeet commented on #395
@SD10 yes I will create a PR fixing this!

[2018-02-08 23:34] seifeet commented on #395
@SD10 @wdcurry would it make sense to have 2 separate functions?

isDigits - checks whether the String contains only digit characters.
isNumeric - checks whether the String a valid number.

[2018-02-09 00:36] wdcurry commented on #395
so long as the naming is harmonious with the rest of the library for this sort of logic, sounds great.

[2018-02-09 00:56] LucianoPAlmeida commented on #395
Hey guys :) @SD10 @seifeet @wdcurry
I was curious about that and decided to try a regex-based approach for a fix, it took a while trying to find a simple one and finally I came up with "(^-?[\\d]+$)|(-?[\\d]+[.,]{1}[\\d]+$)"
The implementation looks like:
[code]
Is a option aproach to implement this fix :)
@seifeet Your `Double("1.2") != nil`suggestion is way more simple, but maybe you want to con

[2018-02-09 01:04] SD10 commented on #395
I'm a pragmatic guy, I don't mind a simple cast 😅 I don't know which is more performant

[2018-02-09 01:12] LucianoPAlmeida commented on #395
@SD10 I also don't know which one is more performant 😂 but I love regex since the day I first saw it, so my opinion on that is totally 100% biased 😂 😅

[2018-02-09 17:47] seifeet commented on #395
@LucianoPAlmeida @SD10 I also like Regex solution but it seems like Double solution is more performant on average.
I created a simple playground to test it:
https://gist.github.com/seifeet/f860e67e41e0b90b8397096b54bb3823

[2018-02-09 23:31] SD10 commented on #395
Fixed by #396

[2018-02-09 23:31] #395 closed

[2018-02-14 20:50] #378 closed

[2018-02-16 09:26] omaralbeik opened #399 "Create an extension to stack UIViews"
Create a `stacked` method to an extension of arrays of UIViews to create a UIStackView and add its arrengedSubViews, allowing users to set stack view's properties like spacing, axis, and others optionally via method arguments with default values.

[2018-02-17 00:38] SD10 opened #403 "Check if SwiftLint is working on Danger"
I don't think SwiftLint is submitting lint warnings on Danger

[2018-02-17 12:06] LucianoPAlmeida opened #404 "Collection.randomItem crash with empty collection"
Collection.random item extension is not handling the empty array case.
Also, the tests for this extensions are in the wrong file (ArrayTests), should be in the CollectionExtensionsTests.

[2018-02-17 12:11] #389 closed

[2018-02-17 12:12] SD10 commented on #404
Whoever fixes this, make sure they add a test to handle the empty case 😅

[2018-02-17 18:53] BennX commented on #360
@omaralbeik I'd like to propsose this as a URL extension since UIImage generating a UIImage seems weird. It would look like `let thumbnail = URL(string: "path/to/resource").thumbnail()`. Taking a optional seconds in parameter and is returning an `UIImage?`. Furthermore I'd like to propse `URL(string: "path/to/resource").thumbnail() { UIImage? in  }` since requesting a the resource may take some ti

[2018-02-17 23:05] #376 closed

[2018-02-17 23:07] #404 closed

[2018-02-18 15:10] LucianoPAlmeida commented on #403
@SD10 The warnings are being submitted :)
At least in #409 they appeared

[2018-02-18 15:55] omaralbeik opened #410 "[Discussion] Add SwiftLint Run Script Phase"
Shouldn't we add [SwiftLint run script phase](https://github.com/realm/SwiftLint#xcode) to Xcode?

[2018-02-18 16:00] LucianoPAlmeida commented on #410
@omaralbeik We have it added, that phase does nothing when the machine where the code is being compiled doesn't have swiftlint installed

[2018-02-18 16:02] BennX commented on #410
@LucianoPAlmeida @omaralbeik can confirm that it is within the phases and runs when installed. I tend to oversee the warnings 😞

[2018-02-18 16:04] omaralbeik commented on #410
@LucianoPAlmeida I see, thank you :)

[2018-02-18 16:04] omaralbeik commented on #410
@BennX No problems :)

[2018-02-18 16:04] #410 closed

[2018-02-18 16:06] BennX commented on #410
@omaralbeik In case it's not installed it'll inform the Users where to get it 👍
<img width="280" alt="screen shot 2018-02-18 at 5 04 58 pm" src="https://user-images.githubusercontent.com/4281635/36353976-e5d44656-14cd-11e8-8c52-502b7b4a87b6.png">

[2018-02-18 18:43] #399 closed

[2018-02-18 22:37] SD10 commented on #403
Alright thank you a @LucianoPAlmeida. Closing this 🤔

[2018-02-18 22:37] #403 closed

[2018-02-21 11:03] omaralbeik opened #412 "Rename NSColor to Color in ColorExtensions.swift"
I noticed today [ColorExtensions.swift](https://github.com/SwifterSwift/SwifterSwift/blob/master/Sources/Extensions/Shared/ColorExtensions.swift) has some places where we use `NSColor` or `UIColor` in the docs instead of `Color`.

We want to keep using both `UIColor` and `NSColor`  **ONLY** in examples to let users know that extensions work for both types, and replace them with `Color` everywhere

[2018-02-26 19:06] BennX commented on #303
Actually:
[code]

[2018-02-27 05:29] #412 closed

[2018-03-04 21:05] LucianoPAlmeida opened #415 "Recursive version of UIView.firstResponder property"
SwifterSwift has a property that finds a subview that is firstResponder from a view.
<img width="677" alt="screen shot 2018-03-04 at 17 53 08" src="https://user-images.githubusercontent.com/8292651/36950515-b4162a54-1fd5-11e8-9c52-d7c9b66c3d77.png">

But this extension just searches in the subviews, and not recursive in the subviews of subviews of the subviews and so on...
The proposal implements

[2018-03-05 13:08] calebkleveter commented on #415
How much of a concern is the performance of this method? It seems to me that the preposed implementation would be pretty slow.

[2018-03-06 00:59] LucianoPAlmeida commented on #415
Hey @calebkleveter the more performant the best :)
Indeed this is not the most performant implementation, but actually is very simple to improve :))

[2018-03-06 01:09] LucianoPAlmeida commented on #415
I've implemented a better version
[code]
Didn't send a PR because I think there are some points need to discuss
1. It is better to do another version that is recursive or update the firstResponder existing to handle this edge case.
2. If the answer to the first one is updating the existing extension( which I prefer), I think it should become a method instead of a property.

@omaralbeik, @SD10 what

[2018-03-06 03:57] SD10 commented on #415
@LucianoPAlmeida For what reason do you want to find the first responder?

[2018-03-06 12:27] LucianoPAlmeida commented on #415
@SD10 It's very rare, but sometimes I have to access a text field inside an keyboard event handler for example, in a generic way, like a BaseViewController. But, the use case where I tried to use the UIView.firstResponder extension and notice that it was not recursive, was to find a textField that was inside a cell, on a tableView.

[2018-03-06 16:43] SD10 commented on #415
@LucianoPAlmeida I think the best way would be to tell `UIApplication` to resign the first responder. Events bubble up through the`UIResponder` chain to `UIApplication` before exiting.

[code]

[2018-03-06 18:06] LucianoPAlmeida commented on #415
@SD10 this  works only if I wanted just resign. But there's cases where I actually needs the instance of the text field to perform some operations on it :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 07:07] BennX commented on #415
If a iterative solution is not slower then a recursive solution like in sort algorithms i would pick the iterative solution. Lower complexity and smaller memory food print.

[2018-03-11 17:26] omaralbeik opened #418 "Add new release checklist"
Add a checklist for tasks prior releasing a new version of SwifterSwift

[2018-03-30 17:38] omaralbeik opened #425 "Add more Optional extensions"
Add more Optional extensions:

[code]

Here are some unit tests to include to check if you've done this correctly:
[code]

[2018-03-30 17:56] SD10 commented on #425
String is a collection :trollface:

[2018-03-30 18:01] omaralbeik opened #426 "Deprecate swap function in ArrayExtensions"
Deprecate [`swap(from:, to:)`](https://github.com/SwifterSwift/SwifterSwift/blob/2f2b002aa2805da6dbb5ca55709dedd3fef6a9f8/Sources/Extensions/SwiftStdlib/ArrayExtensions.swift#L115) in [ArrayExtensions](https://github.com/SwifterSwift/SwifterSwift/blob/master/Sources/Extensions/SwiftStdlib/ArrayExtensions.swift) in favor of Swift's native `swapAt` method.

[2018-03-30 18:06] omaralbeik opened #427 "Refactor ArrayExtensions"
Some methods like `sum`, `average` can be moved from ArrayExtensions to CollectionExtensions, this will make them accessible for other Collection types as well.

[2018-03-30 18:08] omaralbeik commented on #426
I think we should deprecate `push` and `pop` functions as well

[2018-03-30 18:11] omaralbeik commented on #425
Didn't know Github has a :trollface: emoji 😂

[2018-03-31 01:30] LucianoPAlmeida commented on #427
Hey @omaralbeik I think some extension also can be moved to Sequence instead of Collection.
For example: `count(where:)` and `forEachReversed()` I think could be on Sequence.

[2018-03-31 04:20] lugq1001 opened #429 "Your app links against the MapKit framework but does not appear to include Maps functionality."
========================================================================
### Rejected Information

Guideline 2.1 - Performance

Your app links against the MapKit framework but does not appear to include Maps functionality.

Next Steps

If you do not intend to use Maps, please unlink the MapKit framework. If you would like to use Maps, please add the "com.apple.developer.maps" entitlement and submi

[2018-03-31 04:39] LucianoPAlmeida commented on #429
Hey @lugq1001 are you installing it via Cocoapods?
If you are:
Today we have the following Subspecs
'SwiftStdlib'
'Foundation'
'UIKit'
'AppKit'
'CoreGraphics'
'CoreLocation'
'MapKit'
 You can use this subspecs to install only ones that you need. For example, installing only stdlib subspecs `pod 'SwifterSwift/SwiftStdlib'` :)) That way you can just ignore MapKit Spec

[2018-03-31 16:19] LucianoPAlmeida commented on #429
Hey @lugq1001 :))
I'm not sure, but I think at this time, Carthage does not provide a way to build only specific repository submodules. All submodules and their dependencies will be built with the Carthage instalation :((

[2018-03-31 16:39] SD10 commented on #429
@lugq1001 You can also just copy and paste the SwifterSwift extensions that you need. You don't have to use a package manager

[2018-04-04 14:06] calebkleveter commented on #404
Issue 404 handles non-existent cases in a `Collection` 😂.

[2018-04-05 12:38] #360 closed

[2018-04-05 13:14] omaralbeik commented on #426
Fixed in v4.3

[2018-04-05 13:14] #426 closed

[2018-04-05 13:25] omaralbeik commented on #274
I'm going to close this for now, please let me know if you were able to add it to SwifterSwift 👍

[2018-04-05 13:25] #274 closed

[2018-04-06 07:12] omaralbeik commented on #429
We're adding `#if canImport(module)` statements everywhere in the next release, @SD10, @LucianoPAlmeida do you think it will help here?

@lugq1001 could you try installing SwifterSwift from master, I'm not sure if this will help, but worth the try 😅

[2018-04-06 14:13] SD10 commented on #429
I'm not sure if it is because his platform is iOS but I'm not sure if the `@available` attribute on the MapKit extension only makes it available to tvOS extensions currently.

[2018-04-06 14:28] LucianoPAlmeida commented on #429
I don't think it will because if Carthage compiles for iOS, for example, this canImport(MapKit) will always be true, even if not using the Mapkit extensions. But I don't know enough about Carthage to affirm that with 100% sure.

[2018-04-12 06:43] omaralbeik commented on #429
@lugq1001 We recently released v4.3 with a possible solution to this issue, could you try and let us know 🙂

[2018-04-12 08:01] omaralbeik opened #443 "remove(from view: UIView) extension to UIGestureRecognizer"
UIKit lets us remove gesture recognizers from views by using the `removeGestureRecognizer(_:)` method, sometimes we have an optional recognizer, and the code becomes like:
[code]

It would be nice to have this as an extension to `UIGestureRecognizer` so we can chain the methods like:
[code]

[2018-04-13 06:26] #425 closed

[2018-04-14 07:08] omaralbeik opened #448 "Add extension to generate random character"
Add an extension to `Character` to generate a random character

[2018-04-14 08:52] omaralbeik opened #449 "Explain the modular nature of extensions"
Add a new section to [CONTRIBUTING.md](https://github.com/SwifterSwift/SwifterSwift/blob/master/CONTRIBUTING.md) explaining the modular nature of extensions and how units should not have dependencies on other units.

[2018-04-15 00:01] #449 closed

[2018-04-18 20:58] embassem opened #455 "ambiguous use of foo"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
 using an extension

### What did you expect to happen?
 to use  the extension for the lib i use

### What happened instead?
 it used the swifter swift extension

### SwifterSwift Environment

[2018-04-18 21:11] omaralbeik commented on #455
Duplicate of [#176](https://github.com/SwifterSwift/SwifterSwift/issues/176)

[2018-04-21 09:54] mmdock commented on #448
@omaralbeik isn't there a lib for this already? https://github.com/thellimist/SwiftRandom
Just get a random string of length 1(from SwiftRandom), then get the subscript of index 0 on the string (from SwifterSwift's extensions).

[2018-04-21 10:39] mmdock commented on #443
@omaralbeik
I was under the impression that a UIGestureRecognizer could only be used with a single view.

So, why would you need the remove(from:) ?

[code]

Something like that should work (haven't tested yet)

Per docs:

view

The view the gesture recognizer is attached to. (read-only)

@property(nonatomic, readonly) UIView *view

Discussion You attach (or add) a gesture recognizer to a UIView o

[2018-04-22 08:45] omaralbeik commented on #443
@mmdock Thanks for bringing this, I didn't know `UIGestureRecognizer` can't be added to more than one `UIView` 😅
In this case I agree with you it doesn't make any sense to me to have a `view` argment in the method 👍

[2018-04-22 09:06] omaralbeik commented on #448
Thank you @mmdock 🙂
Our goal is to make **SwifterSwift** the widest place to find extensions (if not already :trollface:)
Users should be able to copy a single extension and start using it in no time, while in [SwiftRandom](https://github.com/thellimist/SwiftRandom) users are expected to install the entire project to use this simple extension

[2018-04-22 09:10] omaralbeik commented on #358
It looks like this is beyond the scope of SwifterSwift, I'll close this issue for now, feel free to open it again if you find an easy way to handle localization without adding the actual localization text to the project

[2018-04-22 09:10] #358 closed

[2018-04-22 09:11] #415 closed

[2018-04-22 09:13] omaralbeik commented on #429
@lugq1001 I'll close this issue for now, please let us know if you have the same problem again

[2018-04-22 09:13] #429 closed

[2018-04-22 10:33] mmdock commented on #448
@omaralbeik gotcha - i'll take a gander at this in a few hours; trying to get familiar with doing pull requests with the UIGestureRecognizer task on the other thread before I start more.

[2018-04-23 01:29] mmdock commented on #443
This is being worked on #456

[2018-04-23 07:12] #443 closed

[2018-04-26 09:19] vkill opened #459 "error: package has unsupported layout"
Hi
I can't build on Xcode 9.3 Swift 4.1 .

[code]

[code]

[2018-04-26 09:26] SD10 commented on #459
@vkill Can you try using
[code]

[2018-05-01 13:05] BennX commented on #455
Looks like #174 helped since we haven't got any more comments on this.

@embassem If there is anything else please reopen this issue or feel free to open a new issue.

[2018-05-01 13:05] #455 closed

[2018-05-01 21:21] SD10 opened #463 "Update CI to use a more modern iPhone"
We're still running on a 6S
https://github.com/SwifterSwift/SwifterSwift/blob/0ba61d67deb60d10a2ed97f27aa7e9112bfd0cf9/.travis.yml#L11

[2018-05-01 21:54] #448 closed

[2018-05-02 14:20] nuomi1 opened #464 "Add URL.dropScheme"
- [x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: 4.3.0
- Xcode version: 9.3 (9E145)
- macOS version running Xcode: 10.13.

[2018-05-06 21:02] omaralbeik opened #472 "Add MapKit to install using Cocoapods in README"
Add `SwifterSwift/MapKit` subspec to [install using Cocoapods](https://github.com/SwifterSwift/SwifterSwift#--integrate-corelocation-extensions-only) in README

[2018-05-06 23:01] #427 closed

[2018-05-10 03:03] vkill commented on #459
@SD10 not working

[code]

[2018-05-14 18:44] omaralbeik opened #474 "Add [UIView] to UIStackView"
Create an extension to add an array of views to `UIStackView`.

### Suggested names:
- `addArrangedSubviews(_views: [UIView])`
- `appendArrangedSubviews(_views: [UIView])`

[2018-05-14 18:58] jdisho commented on #474
Calling dips ☝️😜

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-14 18:59] omaralbeik opened #475 "UIEdgeInsets convenience initializers"
Add convenience initializers to `UIEdgeInsets`:
- `init(inset: CGFloat) { ... }`
- `init(horizontal: CGFloat, vertical: CGFloat) { ... }`

[2018-05-14 19:09] omaralbeik commented on #475
`vertical` and `horizontal` are also helpful properties from [MessageKit](https://github.com/MessageKit/MessageKit/blob/master/Sources/Extensions/UIEdgeInsets%2BExtensions.swift)

[2018-05-14 19:16] omaralbeik opened #476 "A convenient way to get keyboard size, animation duration, start frame and end frame from Notification"
You know, iOS sends notifications for keyboard events. I was wondering if we can use extensions to get information from notifications by extending the type `Notification`. all properties should be optional since the notification might be not for a keyboard event.

[2018-05-14 19:20] omaralbeik opened #477 "UIWindow extension to switch the rootViewController with animation"
Add an extension to change `rootViewController` in a `UIWindow` with animation, duration, UIViewAnimationOptions and a completion handler.

[2018-05-15 00:13] LucianoPAlmeida commented on #476
Hey @omaralbeik :))
I'm not sure if extending notification for this kind of functionality is an aproach that makes sense in a type abstaction. Mostly because of doing that, I think we kind of assuming that a Notification, that is a more generic class that abstracts a system notification have some that have a relation to keyboard.
For this kind of functionality I'll probably go for something like:

[2018-05-15 12:04] jdisho opened #480 "Naming conventions for some functions in ArrayExtentions"
https://github.com/SwifterSwift/SwifterSwift/blob/b9a1854b20e90cb1e23ce3db8ef5513a9a2dd24e/Sources/Extensions/SwiftStdlib/ArrayExtensions.swift#L242

`removeAll` functions in ArrayExtentions are actually filtering out and not removing the elements. I would suggest to change the name to `filterAll` or change to implementation to actually remove the elements.

What do you think? 😊

[2018-05-15 20:13] omaralbeik commented on #480
@jdisho As I see the function is filtering the array to keep all elements that are *not* equal to the given item, which is the same of removing all instances of the given item

[2018-05-15 22:30] jdisho commented on #480
Hey @omaralbeik, I understand. However, I think `filterAll`fits better since the function is filtering the array :)

[2018-05-16 03:58] ratulSharker commented on #477
Hi @omaralbeik , i have following implementation regarding this issue

[code]

with `duration = 1.0` it look like following

![Output](https://imgur.com/download/WIsIiF4)

It will restrict the developer to the animation provided in the `switchRootVC` implementation. Will it be overkill to provide interface for providing custom animation by the callee of this method ?

Please share your thought.

[2018-05-16 04:58] SD10 commented on #476
IMO we shouldn't add new types to SwifterSwift. We should only provide extensions on Apple libraries

[2018-05-16 06:10] #476 closed

[2018-05-16 10:30] jdisho commented on #480
Nothing to say! Very good argument @SD10. 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-18 02:40] rafalellys commented on #472
Update complete. PR #481. Thanks!

[2018-05-18 02:58] #472 closed

[2018-05-18 06:59] omaralbeik commented on #472
Thanks for taking care of this @rafalellys 🚀

[2018-05-18 19:51] rafalellys commented on #472
My pleasure @omaralbeik 😄

[2018-05-28 21:02] SD10 opened #487 "Update CONTRIBUTING.md to mention adding a subspec for new modules"
In order to help users limit code bloat if they're importing SwifterSwift as a library, we provide CocoaPods subspecs for each framework.

https://github.com/SwifterSwift/SwifterSwift/blob/3d317236103a2a7a0f0e1755a72324ad6e4bfc67/SwifterSwift.podspec#L58-L62

This should be added to the CONTRIBUTING.md document to help users who are looking to submit extensions for a non-existing framework.

cc @o

[2018-05-28 21:07] SD10 opened #488 "Update CONTRIBUTING.md for unit test guidelines"
We should separate any guidelines for writing unit tests into its own section called "Adding Tests".

I'd like to mention the following 3 things, in addition to anything that exists already:
1. We use one subclass of `XCTestCase` for every extended SwifterSwift type.
2. The subclass should be marked as `final`.
3. There should be a 1:1 ratio between SwifterSwift methods/properties and their backin

[2018-05-28 21:19] SD10 opened #489 "Upgrade to Swift 4.1"
It probably wouldn't hurt to do a SwifterSwift 4.4 release in the near future.
We have a few new extensions and should probably upgrade to Swift 4.1.

cc @LucianoPAlmeida If you want to take this on LMK 👌

[2018-05-29 03:23] SD10 opened #491 "Add xcode_summary to Danger plugins"
One thing I hate about CI failing is I have to go and dig through the build log. It would be great if we could use xcode_summary to propagate test failures and build errors.

Here's a plugin for Danger to do this: [diogot/danger-xcode_summary](https://github.com/diogot/danger-xcode_summary)

If you add this to SwifterSwift you'll be my hero!

[2018-05-30 00:46] LucianoPAlmeida commented on #489
@SD10 For sure we can work on that :))
I think we already did the 4.1 upgrade on  #428 that was in the 4.3.0 release
But indeed will be good to release those new extensions 💯

[2018-05-31 16:45] SD10 opened #492 "Update README to list SpriteKit extensions"
After #490 we now have SpriteKit extensions in SwifterSwift. Would be great to add this to README!

[2018-06-01 00:51] #492 closed

[2018-06-02 07:43] jdisho commented on #480
In Swift 4.2 there is in-place [`removeAll(where:)`](https://github.com/apple/swift-evolution/blob/master/proposals/0197-remove-where.md) and IMO it is convenient to change `filter(_:)` with `removeAll(where:)` 😊

What do you think?

[2018-06-02 14:17] LucianoPAlmeida commented on #480
Hey @jdisho Nice idea, I agree 💯
We can do this as soon as 4.2 is released :))

[2018-06-02 17:27] BennX opened #495 "XCTest extensions"
I'd like to see/add extensions which are useful for testing.

One of my most used ones is an `AssertElementExists` method as `XCTestCase` extension for UITesting (If you don't use Snapshot testing). It does wait for an `XCUIElement` to appear and taps it if wanted. If the element doesn't appear it'll record an error in the line the line where you used the `AssertElementExists` using default parame

[2018-06-02 18:16] SD10 commented on #495
This is an interesting proposal 🤔 My 2 cents are: we probably shouldn't try to get involved with `XCTest` because we'll never compete with a dedicated library with complex matchers like `Quick/Nimble`.

[2018-06-02 19:51] BennX commented on #495
@SD10 I agree on that. In my opinion SwifterSwift shouldn't compete with them but there might be tiny useful extensions like the `AssertElementExists` for ui testing.

[2018-06-08 01:29] LucianoPAlmeida commented on #463
Resolved on #498

[2018-06-08 01:29] #463 closed

[2018-06-08 01:31] #491 closed

[2018-06-13 16:30] bjimenezned opened #499 "Documentation has dead links"
There are several dead links in the documentation site sidebar
Examples:
Calendar
http://swifterswift.com/docs/Extensions/Calendar.html

Color and all the subpages
http://swifterswift.com/docs/Extensions/Color.html

File Manager
http://swifterswift.com/docs/Extensions/FileManager.html

Floating point
http://swifterswift.com/docs/Extensions/FloatingPoint.html

MKPolyline
http://swifterswift.com/doc

[2018-06-13 16:39] LucianoPAlmeida commented on #499
Hey @bjimenezned
Thank you for finding this issue, we'll investigate this :))
cc @omaralbeik

[2018-06-13 16:43] SD10 commented on #499
I don't know if we need to regenerate the documentation with Jazzy?

[2018-06-14 06:49] omaralbeik commented on #499
Thank you for reporting this @bjimenezned 💯
I had the `/docs` directory added to `.gitigore` file in the website repo by accident in the last release 😅

**All links should be working now**

[2018-06-15 04:08] #499 closed

[2018-06-16 05:35] #475 closed

[2018-06-18 05:33] #474 closed

[2018-06-18 15:19] ratulSharker opened #504 "Extension for help in localization."
This is not an issue i'm listing, it's a new feature proposal. I would like to see/add some extension which will help to handle localizing of UIKit's components designed through storyboard.

Recently i'm working on localizing an app. Xcode giving great support while localizing strings which are  defined in the storyboard design. Storyboard generates a string/storyboard file for each storyboard & l

[2018-06-20 11:37] wdcurry opened #506 "Trivial request: docs link edit?"
This is utterly trivial, but would be a sweet change: on the main swifterswift site, please consider edits the topmost docs link to take us directly to the docs and not to another link to the docs. This is a wee bit silly ;) .. I know i can bookmark the docs of course, but this is just a simple thought. Cheers!

[2018-06-22 12:58] omaralbeik commented on #506
Fixed, @wdcurry thanks for reporting this 💯

[2018-06-22 12:58] #506 closed

[2018-06-29 06:21] #489 closed

[2018-06-30 08:45] omaralbeik commented on #504
Hey @ratulSharker, sorry for my late response here 😅
I like how you brought strings from `Localizable.strings` file to the storyboard!
however, I think this seems more like it is own project since it expects users to have the `Localizable.strings` and requires some explanation before using

[2018-07-11 08:43] DimaZava opened #513 "add wifi(network) extensions"
I propose to add extensions (for example to UIDevice) which can show devices SSID, BSSID, ip address, and so on

[2018-07-13 07:27] omaralbeik opened #514 "Fix email validation in StringExtensions"
`isEmail` in [`StringExtensions.swift`](https://github.com/SwifterSwift/SwifterSwift/blob/3cb82030a13a40a751b60fc5c8802e31c998baea/Sources/Extensions/SwiftStdlib/StringExtensions.swift#L163) is not checking for spaces inside the email address

Example:
[code]

[2018-07-13 10:46] #459 closed

[2018-07-18 11:09] marcocapano commented on #495
It is also true that SwifterSwift extension are made so that you can copy and import them individually without importing the whole library, which means this could be useful for folks that just want a little helper method without using nimble or other libraries

[2018-07-19 06:05] phiren opened #520 "Feature Request: In app purchase - check if sandbox"
Feature request, can you add below:

[code]

[2018-07-19 11:47] #514 closed

[2018-07-19 12:59] #488 closed

[2018-07-19 13:00] LucianoPAlmeida commented on #488
Closed by #518

[2018-07-19 20:00] marcocapano opened #521 "Using NetworkExtension module in UIDeviceExtension"
Hi! I'm working on an extension of UIDevice to give people access to bssid, ssid and signal strength by simple doing
`let SSID = UIDevice.current.ssid`

The extension is working as expected but it needs special entitlements to work. You can request those at https://developer.apple.com//contact/request/network-extension/ .

What should I do now? Should the library itself include entitlements? (But

[2018-07-21 07:01] marcocapano commented on #521
Update: Apple responded me that they will not give me entitlements for a library.

So two options remain:

- we include just the code, and the user is responsible of adding entitlements if he wants to use this extension (A #warning in Swift 4.2 ?)
- we don't include such an extension at all, meaning that maybe we should close related issues.

[2018-07-21 07:02] marcocapano commented on #513
I've been addressing this and managed to get bssid, ssid and other info. But I ran into a problem. See https://github.com/SwifterSwift/SwifterSwift/issues/521 if you're interested

[2018-07-23 09:49] xvwvx opened #524 "carthage build failure"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?
[code]

### SwifterSwift Environment

- SwifterSwift version:
4.4.0
- Xcode version:
9.4.1
- macOS version running Xcode:
10.13.4

[2018-07-25 12:51] ranhsd commented on #176
I had the same issue with this library: https://github.com/andreamazz/AMPopTip because they use shadowOffset, shadowRadius .... on UIView elements. I solve it the following way:

[code]

Instead of accessing directly to the property.

[2018-07-26 10:07] DimaZava commented on #521
@marcocapano You have to request special entitlements for network extension for obtaining list of visible WiFi ssids, for gathering only current active I use any extra capabilities.

[code]

So in the same way you can get BSSID and some other current wifi connection's properties

[2018-07-28 00:11] SD10 commented on #521
Haven't read this entire thread but `SSID` -> `ssid` if anyone adds an extension from the discussion 😛

[2018-08-01 01:00] larjohn opened #531 "No UIView extension properties visible under Interface Builder for my Storyboard"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

1. I have added SwifterSwift to my cartfile
2. I have fetched and built it with Carthage (`carthage update SwifterSwift --platform iOS`)
3. I have added the framework to Carthage inputs and Li

[2018-08-01 01:46] LucianoPAlmeida commented on #531
Hey @larjohn :))
Have you added the Carthage build folder to the framework search paths?
Also can you make check if "Run script only when installing" is unchecked?
Those are the two first things that I could thought :)

[2018-08-01 06:28] larjohn commented on #531
@LucianoPAlmeida Yes and yes ... must be something else :(

[2018-08-04 05:01] phiren opened #533 "Feature Request : NSView extension"
Can you please add below:
[code]

[2018-08-04 09:40] guykogus commented on #533
You’re welcome to open a pull request yourself and do it 🙂

[2018-08-04 10:00] phiren commented on #533
Created first pull request, hope someone will approve and merge to master.

[2018-08-04 19:54] LucianoPAlmeida opened #535 "Update Exemples.md documentation file."
The [Exemples.md](https://github.com/SwifterSwift/SwifterSwift/blob/master/Examples/Examples.md) was last updated on the Swift 3 release and needs to be updated.

[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

[2018-08-04 20:14] SD10 commented on #535
Do we need this file anymore even? I don't think it's that useful personally

[2018-08-08 02:13] LucianoPAlmeida commented on #524
Hey @xvwvx
Sorry for the delay :)
Are you still having this issue?

[2018-08-08 02:38] LucianoPAlmeida commented on #531
Hey @larjohn :))
Sorry for the delay on the response, but I believe you don't have to.
I've found that same issue reported in some other frameworks, seems like an old issue and I think there is a bug for that.
But there's some people that have done some workaround that, take a look at https://github.com/Carthage/Carthage/issues/763
And again, sorry for the delay on the answer 😭

[2018-08-12 23:33] #464 closed

[2018-08-14 19:18] omaralbeik opened #545 "Add custom SwiftLint rule to ensure /// SwifterSwift:"
Add custom [SwiftLint](https://github.com/realm/SwiftLint#defining-custom-rules) rule to ensure the use of `/// SwifterSwift: ` in the doc header for new extensions.

[2018-08-18 20:11] martinstoyanov opened #548 "Xcode 10 + Swift 4.2 support"
- [x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: 4.4.0
- Xcode version: 10
- macOS version running Xcode: 10.13
- Swift v

[2018-08-18 20:50] calebkleveter commented on #548
Can you edit your issue with the errors you got?

[2018-08-23 18:14] q351941406 opened #551 "When shadows and rounded corners are set at the same time, the shadow effect disappears"
When shadows and rounded corners are set at the same time, the shadow effect disappears

[2018-08-25 08:47] nuomi1 opened #552 "Add Date.numberOfDaysInYear"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: 4.4.0
- Xcode version: 9.4.1
- macOS version running Xcode: 10.13.6
- Swif

[2018-08-31 12:52] tobitech opened #558 "SelectedImage for tabbar doesn't work well on iPhoneX"
https://github.com/SwifterSwift/SwifterSwift/blob/2d48141ac50bb38e7f6d0d82747f63e1e4414237/Sources/Extensions/UIKit/UITabBarExtensions.swift#L22

Please can you provide a fix for this method to work well on iPhoneX. Thanks

[2018-08-31 12:57] LucianoPAlmeida commented on #558
Hey @tobitech :))
Can you explain the error and what is happening on the iPhone X?
Also, if you want to, feel free to submit a PR with a fix 👍

[2018-08-31 13:01] tobitech commented on #558
the selected background rect is pushed downwards.

<img width="332" alt="screen shot 2018-08-31 at 2 00 03 pm" src="https://user-images.githubusercontent.com/8595853/44913810-4d2da680-ad26-11e8-9373-161f4496dbe8.png">

[2018-08-31 15:28] tobitech commented on #558
another issue i just noticed is when the device orientation changes to landscape, and one selects a new tabbar item, the selectedbackground image maintains the modified size that shows in landscape and isn't back to appropriate size until another tab is selected

[2018-09-05 02:13] LucianoPAlmeida commented on #524
Closing this due inactivity. But feel free to reopen if still having this issue :))

[2018-09-05 02:13] #524 closed

[2018-09-05 02:14] LucianoPAlmeida commented on #531
Closing this due inactivity. But feel free to reopen to further discussions :))

[2018-09-05 02:14] #531 closed

[2018-09-18 15:00] RamblinWreck77 commented on #548
Hello! Thanks for a great set of tools! Any update on this? For now setting just SwifterSwift back to Swift 4 in Xcode 10 works, but pod install sets it back every time.

[2018-09-18 15:08] guykogus commented on #548
@RamblinWreck77 you're welcome to follow updates for PR https://github.com/SwifterSwift/SwifterSwift/pull/562

[2018-09-21 17:58] LucianoPAlmeida commented on #548
Hey people :))
v4.5.0 is out \o/

[2018-09-21 17:58] #548 closed

[2018-09-23 03:22] Mosaics opened #564 "has many errors on swift 4.2"

[2018-09-23 16:11] omaralbeik commented on #564
Could you please use the [new issue template](https://github.com/SwifterSwift/SwifterSwift/blob/master/.github/ISSUE_TEMPLATE.md) to share more information about your environment.
If you are using Cocoapods, please make sure to do `pod udpate` to get v4.5

[2018-09-25 03:21] LucianoPAlmeida opened #565 "Nested Dictionary String Key value"
When having a nested JSON like

[code]
And transforming to a dictionary, if we want to check the value of error->details->codes->passwod.
Probably we have to guarding nested dictionaries until we get our value like
[code]
So, with that being said, the proposedProposed extension is

[code]

* [x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/Swif

[2018-09-26 10:23] lixiang1994 opened #567 "SwifterSwift.podspec Add s.swift_version = "4.2" , Please"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: 4.5.0
- Xcode version: 10
- macOS version running Xcode:
- Swift version:

[2018-09-26 10:29] guykogus commented on #567
This is already in progress but has a strange issue with CI...
https://github.com/SwifterSwift/SwifterSwift/pull/566

[2018-09-26 10:35] lixiang1994 commented on #567
OK

[2018-09-26 10:35] #567 closed

[2018-09-28 13:13] calebkleveter commented on #565
Do we want this to return type `Any` or a generic type `T`?

[2018-09-28 15:18] calebkleveter commented on #565
Here's a fix: https://github.com/SwifterSwift/SwifterSwift/pull/574

[2018-10-01 19:23] #565 closed, assigned to nobody

[2018-10-06 03:02] #564 closed

[2018-10-10 15:08] pvtmert commented on #552
name should be `numberOfDaysLeftInYear` or something like it.
because number-of-days-in-year is either 365 or 366 depending on leap-year

[2018-10-11 10:06] guykogus commented on #552
Actually the code example is `dayInYear`. To get `numberOfDaysLeftInYear` it would be calculated as such:
[code]

[2018-10-13 04:07] jianstm opened #584 "Where to put extensions of `Dispatch`?"
Hi, I want to add some extensions of `Dispatch`, no idea where to put them. `Foundation`? We can use `Dispatch` if we `import Foundation`, but it's indeed a separate module.

[2018-10-13 05:39] jianstm commented on #551
Hi, @q351941406 , `roundCorners()` is incompatible with `addShadow(ofColor:)` i think, it sets a `mask` to the view.

If you want all corners rounded, use `view.cornerRadius = r`, then call `view.addShadow(ofColor:)`, it will work. If you only want specified corners rounded, a workaround is to add the view with specified corners rounded to a container view with shadow:

[2018-10-13 13:58] guykogus commented on #584
You'd need to create a new section for it. You can call `import Dispatch` since it's its own framework, so just like we have folders for `Foundation`, `UIKit`, etc. you'd create a new one for `Dispatch`.

[2018-10-13 15:05] jianstm commented on #584
@guykogus Thanks!

[2018-10-13 15:05] #584 closed

[2018-10-14 18:15] #303 closed

[2018-10-15 14:17] wousser opened #586 "UIImage: Tinted image results in flipped image"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Tinted image
[code]

### What did you expect to happen?
Image with tinted color

### What happened instead?
Image with tinted color that is vertically flipped

### SwifterSwift Environment

- S

[2018-10-17 11:45] invisible66 opened #591 "Why I can't use this extensions?"
### What did you do?
I installed SwifterSwift using CocoaPods

### What did you expect to happen?
I want to use extensions

### What happened instead?
SwifterSwift installed but I can't use extensions

### SwifterSwift Environment

- SwifterSwift version: 4.6.0
- Xcode version: 10.0
- macOS version running Xcode: HighSierra
- Swift version: 4.2
- Platform(s) running SwifterSwift: IOS

### ScreenSh

[2018-10-17 11:58] guykogus commented on #591
You might have to add
`import SwifterSwift`
At the top of your file

[2018-10-17 12:30] invisible66 commented on #591
But it's an extension. I think, i don't need to import SwifterSwift.
And i already tried. Not working.

[2018-10-18 15:10] invisible66 commented on #591
I removed pod and install manually.. I can use extensions now..

[2018-10-18 15:10] #591 closed

[2018-11-03 21:31] #487 closed

[2018-11-09 07:50] wakaryry opened #600 ""image.jpg".isValidUrl -> true"
As the title.
It's designed to be?

[2018-11-09 07:55] #600 closed

[2018-11-10 20:31] maxxx777 opened #601 "[UIImageView extension] UIImageView size does not fit size of downloaded UIImage"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Use [UIImageView Extension](https://github.com/SwifterSwift/SwifterSwift/blob/master/Sources/Extensions/UIKit/UIImageViewExtensions.swift#L22) to download image
[code]

### What did you expect

[2018-11-15 21:19] LucianoPAlmeida commented on #601
Hey @maxxx777 Sorry for the late response, we will take a look on that as soon as possible 👍

[2018-11-17 01:30] #535 closed

[2018-12-05 02:08] LucianoPAlmeida opened #613 "Redundant Travis PR builds"
When opening a pull request from a branch Travis will do redundant builds one for PR and other for the push.
The goal is to trigger just one build.
It seems that it can be solved with a very simple config on .travis.yml

Here is an example [StackOverflow answer](https://stackoverflow.com/questions/31882306/how-to-configure-travis-ci-to-build-pull-requests-merges-to-master-w-o-redunda#31882307) of

[2018-12-05 10:35] bernikowich commented on #551
You cannot apply shadow to UIView with mask. But there is workaround:
http://travisjeffery.com/b/2012/08/ios-how-to-mask-and-shadow-an-image/

[2018-12-10 05:04] fanglinwei opened #616 "NSAttributedString+Extension. Using var attributes app will crash"
[code]
will crash

recommend
[code]

[2018-12-11 01:32] LucianoPAlmeida commented on #616
Hey @fanglinwei
Thank you for reporting this :))

[2018-12-11 09:57] #616 closed

[2018-12-11 09:58] #613 closed

[2019-01-07 03:26] mlight3 opened #622 "shadowOffset for UILabel is conflict with UILabel's property."
[v] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Set shadowOffset, shadowColor, shadowRadius inspectable value on UILabel.

### What did you expect to happen?
UILabel with proper shadow

### What happened instead?
`shadowOffset` is not applie

[2019-01-14 10:58] halocq opened #624 "Ambiguous use of 'bytes' with CryptoSwift"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version:
- Xcode version:
- macOS version running Xcode:
- Swift version:
- Platfor

[2019-01-14 11:59] Coder-XI opened #625 "UIImageExtensions line 62"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version:
- Xcode version:
- macOS version running Xcode:
- Swift version:
- Platfor

[2019-01-14 12:01] Coder-XI commented on #625
I find code in UIImageExtensions line 62 (version 4.6.0)

Why there two rect.size.height judgements?

[2019-01-29 01:34] wdcurry commented on #46
I tweaked my copy to
`public func fadeOut(toAlpha: CGFloat = 0, duration: TimeInterval = 1, completion: ((Bool) -> Void)? = nil)` to give me better control, as the black was too much, but the functionality is sweet. So a popOver can now easily blur out the background a bit.

[2019-02-13 14:56] rfadams commented on #359
@LucianoPAlmeida Thanks for the awesome library! :)

FWIW: that you have to `import SwifterSwift` either in the file you want to use it or in `AppDelegate.swift` was not obvious to me either and I spent 20 (frustrating) mins of checking and re-checking my Carthage install before finding this issue.

I'm new to Swift and so maybe it would be more obvious to more experienced developers, but a bit of

[2019-02-14 12:12] LucianoPAlmeida commented on #359
Hey @rfadams,
In name of all @SwifterSwift/contributors, we are glad you like it :))
And about the Installation additional is noted and we can work on that as soon as possible 👍
But feel free to send a PR with this improvement if you like :))

[2019-02-20 16:33] rafalellys commented on #359
Hi there,
Thanks, SwifterSwift is super awesome but I think you replied this message
to the wrong person. :)) My github handle is @rafalellys
<rafalellys@gmail.com>
Cheers! ;)

On Thu, 14 Feb 2019 at 05:13, Luciano Almeida <notifications@github.com>
wrote:

[2019-02-23 20:06] LucianoPAlmeida commented on #625
Hey @Coder-XI Thank's for report this :)) This is probably a mistake on implementation

[2019-02-27 01:23] LucianoPAlmeida opened #636 "Remove some Collection extensions"
Some [Collection Extensions](https://github.com/SwifterSwift/SwifterSwift/blob/master/Sources/Extensions/SwiftStdlib/CollectionExtensions.swift)
* `firstIndex(where: )`
* `firstIndex(of:)`
* `lastIndex(where: )`
* `lastIndex(of:)`

Should be removed since they are now (since swift 4.2) part of the Swift Standard Library.
See: [SE-0204](https://github.com/apple/swift-evolution/blob/master/proposals

[2019-02-27 08:57] marcocapano commented on #636
I think we can close this since #637 is waiting to be accepted
Or maybe leave it open to discuss other extensions that may be unnecessary ?

[2019-02-27 13:58] LucianoPAlmeida commented on #636
We close this as soon as the PR
We can open a new one for the others :))

[2019-03-05 06:24] HimmaHorde commented on #586
I had changed this function

[2019-03-05 06:34] HimmaHorde commented on #586
` func filled(withColor color: UIColor) -> UIImage ` this will return the image with tinted color.

I have modified this function to blend layers
[code]
eg.
[code]

[2019-03-05 14:49] LucianoPAlmeida commented on #625
Fixed on #575 :))

[2019-03-05 14:49] #625 closed

[2019-03-05 14:54] #636 closed

[2019-03-07 09:54] guykogus opened #640 "Fix `Date.yesterday` to go back exactly 1 day"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Following discussions of https://github.com/SwifterSwift/SwifterSwift/pull/578 it was agreed that the implementation should be changed to use `Calendar.date(byAdding:to:)`.

The problem with us

[2019-03-10 10:27] #586 closed

[2019-03-10 10:34] BennX opened #644 "Add Probot-Stale for Issues and PR"
It might make sense to add a Stale Bot to the Issues and PR's.

https://github.com/probot/stale
https://github.com/apps/stale

What do you think?

[2019-03-22 01:24] LucianoPAlmeida commented on #640
Closed on #641 and #642
Thank you guys 👍

[2019-03-22 01:24] #640 closed

[2019-03-22 01:27] LucianoPAlmeida commented on #644
Sure @BennX 💯

[2019-03-22 01:28] LucianoPAlmeida commented on #558
Closing this since you found a solution :))

[2019-03-22 01:28] #558 closed

[2019-03-27 18:06] omaralbeik opened #645 "Introduce a new `SwifterSwiftWrapper` type"
I wrote a [blog post](https://omaralbeik.com/blog/protocol_oriented_extensions) recently highlighting how to avoid extensions conflicts using a wrapper type, similar to what [RxSwift](https://github.com/ReactiveX/RxSwift), [Kingfisher](https://github.com/onevcat/Kingfisher) and other libraries do.

I believe SwifterSwift is a perfect application for this, it will reduce the number of conflicts wit

[2019-03-27 18:08] omaralbeik commented on #645
@SD10 @LucianoPAlmeida @guykogus @basememara

[2019-03-27 20:49] freak4pc commented on #645
I'm personally kind of +0 ;]
If someone doesn't want the Data extensions, they can avoid using that specific subspec.

I don't know if it adds too much, but as I mentioned I'm quite neutral. It is quite verbose, which is the main downside I'm feeling here.

[2019-03-28 00:06] LucianoPAlmeida commented on #645
Hey @omaralbeik :))
I love the concept of this, but as far as adopting it here, I'm neutral like @freak4pc, like the idea but also think it makes more verbose, which is kinda less Swifter. Not to mention the breaking changes.
But although it is verbose, it makes clear that you use a SwifterSwift which can be good.
Also, I think that there are some other ways that we can avoid the conflict with oth

[2019-03-28 01:43] basememara commented on #645
Good call on bringing this up during Swift 5 transition. That works around the breaking changes dilemma.

For the API itself, I know it’s the right thing to do... but I don’t wanna 😭

It’s an extra barrier to discovery. It’s nice seeing the custom API’s next to similar native calls. SwifterSwift seems to be more of a polyfill than sugar syntax.

I think Xcode needs to catch up here and show custom

[2019-03-28 06:20] BennX commented on #645
Hey @omaralbeik, I haven't come across that solution yet and it feels a bit clumsy.

In my opinion conflicts are intended and aren't a bad thing. They indicate that you use two frameworks with same naming and indicate that you should be aware of this. Moreover, you must resolve it by detailing the usage of whatever function/extension you are using.

Thus, I must agree with @LucianoPAlmeida. I pers

[2019-03-28 08:10] guykogus commented on #645
@omaralbeik I'm in 2 minds about this. On the one hand, it's an excellent solution for avoiding conflicts and actually makes the project more easily usable as a wholly imported library. I know, it doesn't look as pretty when imported this way, but the conflicts are the biggest setback for this project. (@BennX I don't see how this would change the way people copy-paste parts of the project. They'l

[2019-03-28 09:40] freak4pc commented on #645
One more point you should consider is that - wrapping stuff in a `wrapper<Base>` type makes the extension itself has a generic constraint on Base. It's usually not an issue, but I've had cases where It was a major PITA (e.g. when having a Networking with some Reactive Base, it made it very hard to pass around freely).

[2019-03-28 20:18] omaralbeik commented on #645
Thank you for your feedback guys, many thoughtful responses here 👏

I personally never use SwifterSwift as a dependency in any production project, Instead, I use it a resource and prefer to copy what I need, thus I never had conflict issues before.

However, when used as a dependency, our only solution to minimize conflicts is to use subspecs for now, well, what about users using Swift package man

[2019-03-30 20:08] #551 closed

[2019-04-01 08:56] omaralbeik commented on #645
I'm going to close this issue for now, thank you all guys for your valuable comments 😃

[2019-04-01 08:56] #645 closed

[2019-04-02 18:08] chulbert opened #651 "UIEdgeInsetsExtensions Not Public"
[X] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
Upgraded to 5.0.

### What did you expect to happen?
UIEdgeInsets extension methods remain public.

### What happened instead?
UIEdgeInsets extension methods became internal.  It looks the exte

[2019-04-02 18:17] LucianoPAlmeida commented on #651
@chulbert Thank's for reporting, we'll fix as soon as possible 👍 Feel free to send a PR too :))

[2019-04-02 20:26] #651 closed

[2019-04-03 08:54] fanglinwei opened #653 "Add Array Extension for filtered on the KeyPath"
[code]

[2019-04-03 09:11] guykogus commented on #653
Hey @fanglinwei, why not make a PR to add this feature? 😉

Also, a minor suggestion: Checking `contains` on an `Array` has complexity `O(n)`, which means that your function is, at worst case where you have an array that won't need any filtering, `O(n²)`. If you use a `Set` you can get `O(n)` complexity, but you lose the ordering. What do you think?

[code]

[2019-04-03 13:57] chulbert commented on #653
This looks like a variant `withoutDuplicates` with a custom equality predicate.  That's an awfully specific use case but if we want to include it I would recommend something a little more flexible like a closure that takes two parameters and returns a boolean.

[2019-04-03 20:41] jeanmartin opened #654 "Why did 5.0 remove the entire SwifterSwift module?"
- [x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

[2019-04-03 21:16] anonrig commented on #654
I'm facing the same exact issue. I was using several variables such as `SwifterSwift.screenWidth` or `SwifterSwift.bundleId` and now SwifterSwift doesn't include any replacements for those.

[2019-04-04 01:29] LucianoPAlmeida commented on #654
@omaralbeik Can clarify that, but it was actually not a module but a class, what was conflicting in a way that we couldn't use the module explicitly, because the compiler infers that class with the same name of the module. In fact, I thought we had just renamed it cc @omaralbeik

[2019-04-04 11:56] fanglinwei opened #657 "Color extension recommend,"
In swift, colorLiteral can reflect color, is this more intuitive?

<img width="717" alt="企业微信截图_0f1fe2fa-733a-4980-85f7-ddfafbcaa567" src="https://user-images.githubusercontent.com/16839723/55553597-319eda00-5713-11e9-872f-23368ab54a1b.png">

[code]

[2019-04-04 12:08] guykogus commented on #657
I think it's a matter of taste. Personally I wouldn't focus on changing it, but happy to hear the thoughts of others.

[2019-04-04 14:55] chulbert commented on #657
I think it's more useful to see the values in source code than a color swatch.

[2019-04-05 06:34] omaralbeik commented on #654
Hey @jeanmartin, thank you for your question!

As @LucianoPAlmeida mentioned `SwifterSwift` was a global `struct`, not a module and we get rid of it in v5.0 for the following two reasons

## Prefer extensions in their relative types

Most of  `SwifterSwift` methods and variables were extensions of `UIApplication`, `Bundle`, and `UIDevice` that lived in `SwifterSwift` object because at the time we

[2019-04-05 06:39] omaralbeik commented on #657
Thank you for your suggestion @fanglinwei, I see how color literals makes the code looks better in Xcode, however, I have to agree with @guykogus and @chulbert here for the following two reasons

1. Color literals do not look like this in another text editors
2. Using values is more readable; especially for people wanting to copy and paste the values

[2019-04-05 15:53] anonrig commented on #654
Hey @omaralbeik

Thank you for the explanation. But unfortunately, the same reasoning doesn't apply to `SwifterSwift.bundleId`. Since it's longer and not that readable in the native format. As a user of SwifterSwift for some time atm, I personally prefer having these small things that decrease the pain in Swift and iOS.

[2019-04-06 19:49] omaralbeik commented on #654
@anonrig I understand your pain, sorry for the breaking change here, as a work around, you can create a struct called `SwifterSwift` and add your used code to it

[2019-04-07 05:30] ratulSharker opened #661 "Refactoring URLExtension.swift"
[x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version:
- Xcode version:
- macOS version running Xcode:
- Swift version:
- Platfor

[2019-04-07 09:24] guykogus commented on #661
Hi @ratulSharker, thanks for spotting this refactor. Your code won't actually work because `self` is a `URL`, not a `string`. I think a better refactor would be:
[code]
What do you think? If you like it you're welcome to create a PR.

[2019-04-07 18:43] ratulSharker commented on #661
I was using this as an extension of string thats why missed the `absoluteString` instead of `self`, Otherwise everything is good to go with the extension written. Then the code would be like following

[code]

@guykogus i agree your code segment is better refactored in case of using short notation for filtering.

I was unaware of the method `init(url:resolvingAgainstBaseURL:)`, i checked the [appl

[2019-04-08 06:19] ShivaHuang commented on #654
Instead of removing whole `SwifterSwift.swift` file suddenly, I think use `@available` attribute to mark these properties as `deprecated` and provide attribute arguments like `message` and `renamed` will help developers making a smoother transition.

[2019-04-08 08:34] guykogus commented on #661
It doesn't really matter which initialiser you use, I just liked the idea of passing the `URL` object itself rather than the string representation. Either way is fine.

[2019-04-08 11:28] chulbert commented on #654
In the spirit of extending relevant types - with which is _strongly_ agree - this could easily be re-introduced as an extension on Bundle.

Also, while this could have arguably been phased out gradually, developers should generally expect breaking changes in major version upgrades (SwifterSwift 4 -> 5).

[2019-04-08 13:32] ratulSharker commented on #661
Yes using the `first(where:)` is faster rather than `filter`, so the final code portion is like following

[code]

is it good to go ? @guykogus

[2019-04-08 13:42] guykogus commented on #661
Sure, go ahead and create the PR ;)

[2019-04-08 13:49] chulbert commented on #661
I would second @guykogus recommendation to initialize `URLComponents` with `URL` instead the unrelated type `String`.  Additionally, it appears to be more performant to initialize with an instance of `URL`.

[2019-04-08 18:21] Natai opened #665 "Can't use .count property correctly of Range<String.Index>"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

[code]

### SwifterSwift Environment

- SwifterSwift version: 4.6.0
- Xcode version: 10.1
- macOS version running Xcode: 10.13.6

[2019-04-10 00:51] #418 closed

[2019-04-10 00:54] omaralbeik commented on #520
@phiren Please use the [`inferredEnvironment`](https://github.com/SwifterSwift/SwifterSwift/blob/d3e01f46d4189173acf9f03d3bb8bd1ba90bd517/Sources/SwifterSwift/UIKit/UIApplicationExtensions.swift#L28) property introduced in v5.0

[code]

[2019-04-10 00:54] #520 closed

[2019-04-10 09:54] #661 closed

[2019-04-17 00:53] LucianoPAlmeida opened #673 "Remove some character extensions"
Character extensions `isNumber`, `isLetter`, `isLowercased`, `isUppercased` and `isWhiteSpace` should be removed because they are now on the stdlib.

The name and signatures are the same, so remove them are safe and will not break anything :)

[2019-04-17 22:23] mmdock commented on #657
Personally, i do this:

[code]

but i have my `Color` in my personal project setup differently than here in SwifterSwift:

[code]

[2019-04-25 07:07] shuoli84 opened #674 "[Proposal] wrap SwifterSwift extensions in a namespace?"
Now all extension method are exposed directly under extended type. e.g, UIView.cornerRadius. It is convenient in most time, but increased the possibility of name conflict.

I just met the case

[code]

Above code conflicts with
[code]

Maybe introduce a separate namespace like swifter, then
[code]

[2019-04-25 08:13] omaralbeik commented on #674
Duplicate of #645

[2019-04-25 14:04] shuoli84 commented on #674
@omaralbeik the original issue is closed and seems no further plan.
Subspec is not working in my case, I use UIKit subspec in the project.  So I renamed the property in my own code to avoid the conflict.

[2019-04-25 14:06] shuoli84 commented on #674
But don't you see the catch? More extension we have, more chance we conflict with user's own code or other library. Which will leads the project to some sorrow situation. :P

[2019-04-25 14:13] guykogus commented on #674
Yes, we are aware. As you can see in #645 we had quite a long discussion about it, a bit offline as well. There are pros and cons to both solutions, and in the end we decided not to implement this change.

For now, in order to deal with conflict, either you'll have to change your project's code, or, if you have a clash from 2 separate libraries, you can use the solution recommended in #645: https:

[2019-04-26 02:39] #674 closed

[2019-05-20 09:57] WeMadeCode opened #676 "Don't have access to RandomAccessCollection 's extension function `func indices(of item: Element)`"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?
in viersion 4.6.0
I can compile `[1, 2, 2, 3, 4, 2, 5].indices(of: 2)`
but in version 5.0.0
i can't compile `[1, 2, 2, 3, 4, 2, 5].indices(of: 2)`

### What did you expect to happen?
have acces

[2019-05-20 19:27] ChristopherAaronBrown commented on #673
I'm new to open source projects and this sounds like something I can tackle. If this is still open, can I get it a swing?

[2019-05-20 21:00] LucianoPAlmeida commented on #673
@ChristopherAaronBrown Welcome to OS \o/
There is already a PR to this #675, but we are always opening new `good first issue' issues, so I'll make sure to add you if you want to contribute :))

[2019-06-11 07:50] ningkexin opened #688 "Cannot subscript a value of type 'String' with an index of type '(safe: Range<Int>)'"
swift 5.0

SwifterSwift (5.0.0)

[code]

The above code will prompt an error. I will rewrite an extension and write these functions. It is not. Why?

[2019-06-11 10:36] RomanPodymov commented on #688
Hello @ningkexin
This code works for me in Xcode 10.2.1 and I also use SwifterSwift 5.0.0. What Xcode version are you using?

[2019-06-11 22:30] LucianoPAlmeida commented on #688
Hey @ningkexin @RomanPodymov :))
@ningkexin Can you elaborate more on what error it is giving you, so we can check?

[2019-06-11 22:33] LucianoPAlmeida commented on #688
I just notice that these two(this one and the one that takes a ClosedRange) extensions could be improved by using a `RangeExpresion` since the string type is a collection.

[2019-06-12 02:34] ningkexin commented on #688
@RomanPodymov I also use Version 10.2.1 (10E1001)

[2019-06-12 05:13] ningkexin commented on #688
@LucianoPAlmeida I don't know why this is causing the problem, but I can probably provide my usage environment. I am using it under the old project (Objective-C). In addition, I used swift4.2 before. I didn't use this POD at first. I just tried the extension of String, which didn't cause any problems during the use. Then I tried the swift5.0 version yesterday, and this problem has appeared!

[2019-06-12 05:17] ningkexin commented on #688
![image](https://user-images.githubusercontent.com/17719524/59325067-333cdd80-8d14-11e9-8fba-0c6f718a211a.png)
Xcode also indexes two definitions, but I commented out that my extension is not compiled.

[2019-06-12 12:29] LucianoPAlmeida commented on #688
This duplication is probably because Xcode didn’t reindexed after you comment. But my question is more about the error message. What the error log the compiler is outputting?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-17 07:33] ningkexin commented on #688
@LucianoPAlmeida
- Please see the error message below. I have already "Clean Build Folder" before this.
![image](https://user-images.githubusercontent.com/17719524/59586132-c317c880-9114-11e9-9dcf-c56ca563fee4.png)

[2019-06-17 10:44] guykogus commented on #688
Sorry if this is an obvious question, but have you called `import SwifterSwift`?

[2019-06-18 02:55] ningkexin commented on #688
Oh, it’s stupid, I solved my problem!

[2019-06-18 02:55] #688 closed

[2019-06-18 03:20] #676 closed

[2019-06-19 10:30] #673 closed

[2019-06-20 09:02] RomanPodymov commented on #665
Hello @Natai
Get `Type 'String.Index' does not conform to protocol 'Strideable'` when compile the code from the issue even if I remove `SwifterSwift` from project. Are you sure that your code is correct?

[2019-06-20 09:10] guykogus commented on #665
I can see this problem on Xcode 10.2.1. The problem is that the `Sequence` extension has a `count(where:)` function that clashes.

[2019-07-02 10:20] Jinxiansen opened #691 "Why is the `isRunningOnSimulator` and `deviceName` methods gone?"
🤔

[2019-07-02 10:40] guykogus commented on #691
@Jinxiansen when/where were they a part of this library?

[2019-07-02 10:58] Jinxiansen commented on #691
http://cocoadocs.org/docsets/SwifterSwift/1.1/Classes/SwifterSwift.html#/s:ZvC12SwifterSwift12SwifterSwift20isRunningOnSimulatorSb
I used SwifterSwift a long, long time ago, and with `SwifterSwift` I would have no such method.

![133](https://user-images.githubusercontent.com/16829428/60507709-56e3ba00-9cfb-11e9-8d1f-edf56ca34ad6.png)

< English is not my native language; please excuse typing erro

[2019-07-02 11:06] guykogus commented on #691
@omaralbeik it looks like this disappeared when creating version 5.0.0. Was there any reason in particular that the properties/methods from SwifterSwift.swift were deleted instead of moved?

[2019-07-02 12:22] Jinxiansen commented on #691
Oh, what is the reason for the deletion? I still like these methods very much, but now I am not.😔😔😔

[2019-07-04 02:35] #691 closed

[2019-07-09 20:27] omaralbeik commented on #691
Hey @Jinxiansen
Sorry for the inconvenience here

This extension and many others have been removed and re-introduced into their own relevant types. more details in [#654](https://github.com/SwifterSwift/SwifterSwift/issues/654)

You can use
[code]

As for the `deviceName` property, feel free to open a pull request and add it under `UIDeviceExtensions` 😃

[2019-07-09 20:30] omaralbeik commented on #657
I'm going to close this issue for now, feel free to open again to extend the discussion :)

[2019-07-09 20:30] #657 closed

[2019-07-09 20:31] omaralbeik commented on #654
I'm going to close this issue for now, feel free to open it again to extend the discussion :)

[2019-07-09 20:31] #654 closed

[2019-07-09 20:34] omaralbeik commented on #624
Duplicate of [#176](https://github.com/SwifterSwift/SwifterSwift/issues/176)

[2019-07-09 20:34] #624 closed

[2019-07-09 20:37] omaralbeik commented on #521
Thank you for your extension @marcocapano
I think we should not include extensions that require specific entitlements

[2019-07-09 20:37] #521 closed

[2019-07-09 20:38] #513 closed

[2019-07-10 06:46] mohshin-shah opened #693 "[UITableViewExtensions] : Crash in iOS 13.0 (XCode 11.0) due to returning indexPathForLastRow using section (0) even for the empty tableView (no section)"
### What did you do?

`Requested the number of rows for section (0) which is out of bounds.`
`indexPathForLastRow -> Crash`
`lastSection -> Crash`

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version:
- Xcode version: 11.0
- macOS version running Xcode: 10.14.4
- Swift version: 5.1
- Platform(s) running SwifterSwift: iOS

### Demo Pr

[2019-07-15 16:13] #693 closed

[2019-08-13 01:57] LucianoPAlmeida commented on #644
Now that I just closed a lot of stale PR's manually, I'm pretty sure it will be a great addition.
Labeling help wanted in case someone wants to tackle this :))

[2019-08-14 12:15] #533 closed

[2019-08-15 09:41] RomanPodymov commented on #653
Hello @chulbert
I added `withoutDuplicates` with a custom comparator in #704.

[2019-08-19 21:23] #644 closed

[2019-08-29 20:21] #601 closed

[2019-08-29 20:21] #665 closed

[2019-09-13 15:34] #653 closed

[2019-09-16 11:24] fanglinwei opened #708 "A bug about string's appendingPathComponent"
[code]

[2019-09-16 12:04] cHaLkdusT commented on #708
Hi @fanglinwei ,

Thanks for raising this issue. Upon checking this, seems like this is the expected behavior when we call `.appendingPathComponent(_:)` on a string. As per NSString documentation,

https://developer.apple.com/documentation/foundation/nsstring/1417069-appendingpathcomponent

[2019-09-16 12:37] cHaLkdusT commented on #708
I've added the documentation notes here https://github.com/SwifterSwift/SwifterSwift/pull/709

[2019-09-16 20:19] RomanPodymov opened #710 "Mutating versions of removeDuplicates(keyPath:)"
- [x] 🚀 I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

Currently there are `nonmutating` `withoutDuplicates()` and `mutating` `removeDuplicates()` in `extension Array`. Let's add `mutating` versions of `func withoutDuplicates<E: Equatable>(keyPath path: KeyPath<Ele

[2019-09-16 20:37] #708 closed

[2019-09-17 03:01] fanglinwei commented on #708
@cHaLkdusT ,

Thanks for the answer, so that you can understand the correct use of this function.

[2019-09-17 03:03] fanglinwei commented on #708
@cHaLkdusT ,
Thank you for your answer so that we can clearly understand the correct use of this function.

[2019-09-22 17:49] omaralbeik opened #714 "Use XcodeGen"
It would be great to use [XcodeGen](https://github.com/yonaskolb/XcodeGen) to auto-generate the `.xcodeproj` and `xcworkspace` files from a `yml` or `json` file

This will make the code cleaner and help reduce merge conflicts :)

[2019-10-13 01:23] LucianoPAlmeida opened #731 "UIImage.tint(color:blendMode:) improvement"
#Hacktoberfest

Here we can do a minor tweak where this extension is implemented using an old `UIGraphicsBeginImageContextWithOptions` API. That is not recommended.
We can provide an improvement for it and make this using `UIGraphicsImageRenderer` API.

Note: `UIGraphicsImageRenderer` is only available from iOS 10. So we should maintain the current implementation for lower iOS versions like:
[code

[2019-10-13 01:24] LucianoPAlmeida opened #732 "UIImage.filled(withColor:) improvement"
### Hacktoberfest

Here we can do a minor tweak where this extension is implemented using an old `UIGraphicsBeginImageContextWithOptions` API. That is not recommended.
We can provide an improvement for it and make this using `UIGraphicsImageRenderer` API.

Note: `UIGraphicsImageRenderer` is only available from iOS 10. So we should maintain the current implementation for lower iOS versions like:
[c

[2019-10-13 08:03] #545 closed

[2019-10-13 17:42] FraDeliro commented on #732
Hi @LucianoPAlmeida I could pick up this one :)

[2019-10-13 17:42] raysarebest commented on #732
@FraDeliro Sorry for not commenting, before I started, but I was literally just about to click the button to make a PR for this 😅

[2019-10-13 17:45] FraDeliro commented on #732
@raysarebest No worries :) go for it 👍

[2019-10-13 17:51] LucianoPAlmeida commented on #732
@FraDeliro @raysarebest Thanks for taking this one, @FraDeliro there are another issues like this one you could take, just make sure to comment on that so people know there’s someone already working :))

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-13 17:57] FraDeliro commented on #731
Thanks @LucianoPAlmeida, I will pick up this one :)

[2019-10-15 07:23] omaralbeik opened #735 "Extend Sequence to get sum by keypath"
Extend The `Sequence` type with a `sum(for keyPath:)` function to return the sum of nested number for all objects within a sequence

Examples from [**Swift by Sundell**](https://swiftbysundell.com/articles/reducers-in-swift/)'s article on reducers
[code]

[2019-10-15 09:11] moritzsternemann commented on #735
I'd like to work on this task 😃 can you assign it to me?

[2019-10-15 12:03] Saik0s commented on #714
Hi @omaralbeik, I would like to work on this improvement.

[2019-10-15 12:54] LucianoPAlmeida commented on #714
@Saik0s Go for it ;)

[2019-10-16 07:16] #735 closed

[2019-10-16 09:47] iglushchuk commented on #710
I can handle it :)

[2019-10-16 14:52] #732 closed

[2019-10-20 21:24] #731 closed

[2019-10-20 21:25] moritzsternemann commented on #714
Hey @Saik0s 👋 what's your progress? Maybe I can help out 😃

[2019-10-21 19:09] omaralbeik opened #740 "StoreKit Extensions"
Create a new `localizedPrice` variable to return the localized price string for `SKProduct` utilizing the `priceLocale` property.
[code]

Steps:
1. Create a new folder named `StoreKit`
2. Create a new file SKProductExtensions file and add the extension in it
3. Make sure to wrap the extension with `#if canImport(StoreKit) ... #endif`
4. Write a test for the extension
5. Add the new `StoreKit` subs

[2019-10-21 19:44] omaralbeik opened #741 "Add init?(base64String:) to UIImage"
Create a new failable initializer to create a `UIImage` from a base64 string

[code]

[2019-10-21 19:47] omaralbeik opened #742 "Add base64String extension to UIImage"
Add a `base64String` property to return the encoded image as a base 64 string

[code]

[2019-10-21 19:51] omaralbeik opened #743 "Add KeyedDecodingContainer extensions"
Add the following extensions to `KeyedDecodingContainer`

[code]

[2019-10-21 19:59] moritzsternemann commented on #742
@omaralbeik Have you thought of a specific format to use for encoding (JPEG, PNG, ...)?

[2019-10-21 21:52] omaralbeik commented on #742
I was thinking maybe use JPEG with `compressionQuality=1.0`, but now I see it makes sense to change it into a function with those parameters 🤔

[2019-10-22 04:47] Saik0s commented on #714
Hi @moritzsternemann! I am half way through, it just takes some time to write the instruction file for all the targets, so going to finish it in upcoming couple of days. Thanks!

[2019-10-22 07:35] thisIsTheFoxe commented on #741
I'll give it a try.. ^^

[2019-10-22 12:05] moritzsternemann commented on #742
Hmm the problem is that I can get the data either using `UIImage.pngData()` or `UIImage.jpegData(compressionQuality:)`. We could implement both versions or maybe reduce the scope to the jpeg, compressionQuality 1 version, because the other methods in the UIImage extension use these settings as well.

[2019-10-22 12:16] guykogus commented on #742
If you look at the first extension we have for `UIImage`, we already have:
[code]
I'm not really a fan of it, personally, as it's the size of the uncompressed JPEG encoding, not the number of bytes in the `UIImage` object. It's the same issue here with this suggestions. If we had some enum type, e.g.
[code]
we could then pass that as a parameter to decide how to convert an image to data. At the en

[2019-10-22 13:09] moritzsternemann commented on #742
We could access the internal data of the UIImage (`.cgImage?.dataProvider?.data as Data?`) but this is not the same data one would pass to `UIImage.init(data:)`. I think using the png representation and mentioning this in the documentation comment would be the best solution here.

[2019-10-22 14:00] FraDeliro commented on #743
I can take this one ;)

[2019-10-23 07:22] #741 closed

[2019-10-23 07:24] omaralbeik commented on #743
@FraDeliro Go for it, I assigned it to you 🚀

[2019-10-23 07:52] FraDeliro commented on #743
Thanks @omaralbeik  👍

[2019-10-23 09:46] #710 closed

[2019-10-23 09:47] LucianoPAlmeida commented on #710
Thank's @RomanPodymov @iglushchuk :)

[2019-10-23 13:02] moritzsternemann commented on #742
...or implement two separate methods:
[code]

[2019-10-23 18:49] Francesco290888 opened #748 "Ok"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version:
- Xcode version:
- macOS version running Xcode:
- Swift version:
- Platfor

[2019-10-23 19:19] #748 closed

[2019-10-24 15:38] Saik0s commented on #714
Hi guys, unfortunately, I am not able to focus on this ticket right now and can get back to it at the end of the next week. @moritzsternemann If you want to pick it up - feel free. In another case, I will work on it next week.

[2019-10-25 00:17] lareenmelo commented on #740
Hellooo, I'll give this a try!

[2019-10-25 12:03] omaralbeik commented on #740
Sure @lareenmelo, go for it!

[2019-11-05 22:50] cyber-gh commented on #186
I'd like to add a loading spinner extension to UIView (showLoading, stopLoading). Could you tell me if you already have something like this?

[2019-11-05 23:06] guykogus commented on #186
@cyber-gh I have something like that in my apps but it's usually very business-case-specific. It's the kind of thing that might be better served as a separate project rather than an extension in SwifterSwift.

[2019-11-05 23:20] LucianoPAlmeida commented on #186
+1 to @guykogus
But if you like to start contributing we have a set of `good first issue` labeled opened, and planning to create new ones :))
So if you up to, they are a good place to start 👍

[2019-11-05 23:37] guykogus commented on #742
I'd go for 2 separate methods. You could even add a third if you want `bitmapBase64String()` when getting the data from `CGDataProvider`.
Regardless, just having a single `base64String()` function may very well confuse callers, as I don't believe that they should have to check the function documentation to know the format of the image.

[2019-11-06 07:59] cyber-gh commented on #186
Okay. I'll take a look at those. Thanks

[2019-11-06 15:33] moritzsternemann commented on #742
@guykogus Sounds good.

I did some further research into the bitmap representation and came to the conclusion that it's not a good solution. If the UIImage is backed by a CGImage, than `UIImage.cgImage` contains an internal representation. If the image is backed by a CIImage, `UIImage.ciImage` contains another internal representation.
In both cases the data of the backing structure is not a bitmap

[2019-11-07 23:07] mmdock commented on #740
@lareenmelo you still working on this ?

[2019-11-08 09:43] nobut opened #754 "displayName is nil"
Xcode11.2.1 does not use displayName. Without this CFBundleDisplayName field, there is CFBundleName in Info.plist

[2019-11-09 00:18] nobut commented on #754
Xcode11.2.1 New Project Info.plist will not have CFBundleDisplayName

[2019-11-09 00:22] nobut commented on #754
extension Bundle {
    public var appIcon: UIImage? {
        if let icons = infoDictionary?["CFBundleIcons"] as? [String: Any],
            let primaryIcon = icons["CFBundlePrimaryIcon"] as? [String: Any],
            let iconFiles = primaryIcon["CFBundleIconFiles"] as? [String],
            let lastIcon = iconFiles.last {
            return UIImage(named: lastIcon)
        }
        return nil

[2019-11-09 00:52] guykogus commented on #754
@nobut you're always welcome to open a PR with suggested extensions :)
The only problem with the `appIcon` extension is that usually the app icons come from the Assets bundle. In that case you can just get the appIcon using `UIImage(named: "AppIcon")`.

[2019-11-09 01:30] nobut commented on #754
Thank you very much.Is there a succinct way to get the app name?

[2019-11-09 04:22] lareenmelo commented on #740
Hi! It's okay you can go ahead and do it, I was currently working on another thing so I had it stack. But you go ahead!

[2019-11-11 02:53] mmdock opened #755 "Fix `compressed(quality:)` on UIImage extension"
`compressed(quality:)` extension function calls another SwifterSwift function `compressedData(quality:)`.

According to the SwifterSwift contributing guidelines:

Therefore, someone should update this function to make the above guideline true in this case.

This is meant to be a good first simple issue for new contributors.  Or for someone bored I guess.

[2019-11-11 11:29] cyber-gh commented on #755
I'd like to give it a try.

[2019-11-11 12:02] LucianoPAlmeida commented on #755
Cool \o/ go for it @cyber-gh :)

[2019-11-12 02:25] LucianoPAlmeida commented on #755
Thank's @mmdock and @cyber-gh 👍

[2019-11-12 02:25] #755 closed

[2019-11-12 07:45] mmdock commented on #754
@nobut I just checked out `displayName` extension var for myself and works for me on iOS 11.2.1.  There seems to be some people on reddit also complaining about encountering the issue you are descibing when updating to 11.2.1.

Go to your target, click general, and make sure the product name is there. If it looks greyed out, it’s actually blank. Click the name and fill it back in.  This seems to b

[2019-11-12 08:20] nobut commented on #754
I am talking about using Xcode 11.2.1 instead of iOS12.1.1. I mean the newly created project. There is no CFBundleDisplayName field in Info.plist. Then I can't use UIApplication.shared.displayName to get the app name.
<img width="656" alt="Screen Shot 2019-11-12 at 4 18 16 PM" src="https://user-images.githubusercontent.com/28843198/68654160-4e807300-0568-11ea-8f89-756c8e703c17.png">
<img width="54

[2019-11-12 08:23] mmdock commented on #754
@nobut  sorry, meant to write `Xcode 11.2.1` not `iOS 11.2.1`.

I am currently on that same build and mine is working correctly.  Can you follow the instructions I gave before and check on the Product name in the target?

[2019-11-13 00:12] LucianoPAlmeida opened #759 "Collection assign to all extension"
Is very common to have code like

[code]
It would be nice to have an extension like `assignAll(value: true, to: \.isEnabled)` to take advantage of keyPaths.
So the samples above would become
[code]

A guide implementation sample
[code]

[2019-11-13 00:15] guykogus commented on #759
You might want to change your first example to a pre-guard loop. If the collection is empty it'll crash 😉

[2019-11-13 00:17] LucianoPAlmeida commented on #759
Good catch @guykogus, thank's :)

[2019-11-13 09:03] cyber-gh commented on #759
I want to try this one.

[2019-11-13 09:33] LucianoPAlmeida commented on #759
Go for it @cyber-gh \o/

[2019-11-17 12:39] #742 closed

[2019-11-18 19:14] #714 closed

[2019-11-18 20:00] #759 closed

[2019-11-25 11:29] hamza-farooq-astutesol opened #767 "Use of unresolved identifier 'searchTextField' error in UISearchBar extension"
hello devs. I am currently facing an issue regarding this library, i just updated the pod and now i am facing thus issue. I also tried deleting and reinstalling the pod but it didn't help at all. Looking for some assistance here. Thank you in advance.

[2019-11-25 11:32] LucianoPAlmeida commented on #767
Hi @hamza-farooq-astutesol
Ca you give more information about what version of pods, what version of the library, xcode ... and if is possible the exact error message you getting :)

[2019-11-25 11:40] hamza-farooq-astutesol commented on #767
i am using:
xcode's Version: 10.2,
swift's version: 5
library's version: latest - pod 'SwifterSwift' to install the pod

[2019-11-25 11:42] hamza-farooq-astutesol commented on #767
![Screenshot 2019-11-25 at 4 41 40 PM](https://user-images.githubusercontent.com/58171976/69537712-804efc00-0fa2-11ea-9ad3-4e6cffa30eaf.png)

[2019-11-25 12:15] LucianoPAlmeida commented on #767
Given that you are using the Xcode 10.2, and this property is available on iOS 13 SDK that comes with Xcode 11, this is expected. Have you try to compile it with Xcode 11?

[2019-11-25 12:44] hamza-farooq-astutesol commented on #767
I should have known that. My bad. Yes it working fine now. Thank you very much.

[2019-11-25 12:44] #767 closed

[2019-11-25 12:51] #743 closed

[2019-11-26 02:46] tospery opened #768 "access conflict"
When use the ManualLayout library, the view's x/y/width/height is conflict. and without origin/size/center/centerX/centerY.
https://github.com/isair/ManualLayout

[2019-11-26 23:51] LucianoPAlmeida commented on #768
Hey @tospery :)
I viable solution to that is to do adjust your imports in a way to disambiguate the use of the properties. Meaning, you choose one `ManualLayout` or `SwifterSwift` and add the specific import to get rid of the naming symbol conflict.
Example:
[code]
For more information, see the discussion on #645

[2019-11-30 20:42] furiosFast opened #770 "New CLLocation (and others) functions"
Hi,
first of all, great job, congratulations!
I discovered this repository at the swiftcoin of turin and I have already implemented it in all my projects.
I wanted to ask you if I can recommend some new works to integrate with Swifter Swift that I think could be useful as well as me to other programmers as well

Thanks

[2019-12-04 04:58] kpavankotesh commented on #477
Any iOS 13 implementation for the same ?

[2019-12-06 01:51] LucianoPAlmeida commented on #770
Hi @furiosFast :))

For sure, feel free to submit new ideas as issues or even Pull requests with implementation if you like :)
We are always open to discuss things that can move this project forward \o/

[2019-12-06 01:53] LucianoPAlmeida commented on #770
Just closing this because it is neither a discussion or an actual issue of the project
But feel free to bring on the new ideas :))

[2019-12-06 01:53] #770 closed

[2019-12-07 09:15] DimaZava opened #773 "Check if date or date containing string has 12h (am pm) or 24h format"
I've faced a necessity of checking current device's time display settings, exactly 12/24h format.
What about having such kind of extensions both for Date and String types?

[code]

[code]

[2019-12-07 09:24] DimaZava opened #774 "Extended String match functionality"
While I was solving task of search occurrences highlighting, inspired with existing SwifterSwift solution, I've created this String's extension

[code]

[2019-12-07 09:31] DimaZava opened #775 "Return Never in Option "or" closure"
I propose to use this Optional extension to shorten code while unwrapping Optionals which are to be non-nil, e.g: converting enum values from raw, dequeueing cells and so on.

[code]

[2019-12-07 09:42] DimaZava opened #776 "cURL extension for URLRequest"
It can be useful extension for ones who want to debug their requests in terminal, Postman, Paw, etc.

[code]

[2019-12-07 09:51] DimaZava opened #777 "Improvement of NSAttributedString extension's 'applying' function"
I propose to add 'options' as default parameter to function 'apply' in NSAttributedStringExtensions file, line 105. For example there's common case of using .caseInsensitive option which cannot be ignored

[code]

[2019-12-21 20:51] #754 closed

[2019-12-26 07:56] omaralbeik commented on #773
@DimaZava Thanks for bringing this :)
The AM or PM time is coming from the `DateFormatter` and not from `Date`, if we have the same date on different devices with different `Locale` we will get both `is12HourFormat ` and `is12HourFormat` true for the same date 🤔

[2019-12-26 07:58] omaralbeik commented on #774
@DimaZava Nice one, could you please open a new PR for this 🚀

[2019-12-26 08:00] omaralbeik commented on #776
Nice extension! @DimaZava would you please open a PR and other members will review and shape this extension in review

[2019-12-26 08:02] omaralbeik commented on #777
Would you please open a PR for this 🚀

[2019-12-26 08:07] omaralbeik commented on #775
@DimaZava Could you please open a PR and we'll take it from there :)

[2019-12-26 10:15] guykogus commented on #773
I think it makes more sense for this to be a `Locale` extension. Something like
[code]

[2019-12-27 13:45] DimaZava commented on #773
@guykogus I think it's better idea than mine. If you don't mind I can create PR for it

[2019-12-30 11:43] #740 closed

[2020-01-03 00:43] #768 closed

[2020-01-11 16:28] LucianoPAlmeida opened #794 "Upgrade iOS minimum deployment target dependency for the project"
Current our minimum deployment target for iOS 8.0, and we want to upgrade it to iOS 10.0
To do that we need to change it in the project and also make sure the Podspec and documentation e.g. readme is updated too.

[2020-01-15 08:36] pynixwang opened #795 "url safe base64 encoding and decoding"
### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: latest
- Xcode version: 11
- macOS version running Xcode: 10.15
- Swift version: 5.1
- Platform(s) running SwifterSwift: macOS

### Demo Project

[2020-01-17 07:58] omaralbeik commented on #795
@pynixwang Thanks for bringing this!
Could you please share more information, I'm not sure I understand the issue

[2020-01-17 08:58] pynixwang commented on #795
url safe base64 decoding.

[2020-01-17 10:12] DimaZava commented on #795
@pynixwang Can you please provide sample project contains data and operation which fails

[2020-01-17 10:21] pynixwang commented on #795
@DimaZava @omaralbeik
[code]

[2020-01-17 10:22] pynixwang commented on #795
some padding char is removed

[2020-01-17 10:22] pynixwang commented on #795
but ruby can decode it
[code]

[2020-01-21 02:06] LucianoPAlmeida commented on #776
Fixed by #790

[2020-01-21 02:06] #776 closed

[2020-01-21 02:08] LucianoPAlmeida commented on #777
Fixed by #791 Thanks @DimaZava :))

[2020-01-21 02:08] #777 closed

[2020-01-24 11:37] trevorphillips commented on #794
#800

[2020-01-29 01:31] LucianoPAlmeida commented on #794
Thank you :)

[2020-01-29 01:31] #794 closed

[2020-01-30 03:40] trevorphillips commented on #795
@pynixwang
Encoding `http://example.com/xxx` -> `aHR0cDovL2V4YW1wbGUuY29tL3h4eA==`
Seems that trying to decode `aHR0cDovL2V4YW1wbGUuY29tL3h4eA` doesn't work in swift because it doesn't include those extra `==` at the end.

[2020-01-31 01:30] LucianoPAlmeida commented on #795
Thank you @pynixwang and @trevorphillips
The PR referenced above just fixes that \o/

[2020-01-31 01:43] #795 closed

[2020-01-31 07:10] omaralbeik opened #802 "WKWebView extensions"
I noticed we don't have any extensions for `WKWebView` 🤔, please use this issue to brainstorm ideas for useful extensions to evaluate javascript, get the view height, and more ...

[2020-03-16 13:06] Raber93 opened #815 "String Safely subscript - out of bounds"
[ ] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

### What happened instead?

### SwifterSwift Environment

- SwifterSwift version: 5.1
- Xcode version: 11.3.1
- macOS version running Xcode: 10.15.3
- Swift

[2020-03-16 22:48] LucianoPAlmeida commented on #815
This seems like a very simple detail in the implementation, I would say it is an easy fix ... PR's are welcome :))

If someone wants to jump in the file where these subscripts are is `SwiftStdlib/StringExtensions.swift` :))

[2020-03-16 22:49] LucianoPAlmeida commented on #815
And @Raber93 Thank you for reporting :)

[2020-03-19 16:03] #815 closed

[2020-03-19 16:04] LucianoPAlmeida commented on #815
Fixed on master @Raber93 \o/

[2020-03-19 16:05] LucianoPAlmeida commented on #775
This one was discussed in #789 So, closing 👍

[2020-03-19 16:05] #775 closed

[2020-03-26 02:06] cHaLkdusT opened #822 ""Integer division"-like in Python"
- [x] I've read, understood, and done my best to follow the [Contributing guidelines](https://github.com/SwifterSwift/SwifterSwift/tree/master/CONTRIBUTING.md) before opening this issue.

### What did you do?

### What did you expect to happen?

[code]

### What happened instead?

[2020-03-26 02:49] LucianoPAlmeida commented on #822
@cHaLkdusT Thank you for opening this :)
I think this would only make sense if one of the sides is a `FloatingPoint`, because Int/Int division already works like that...

[2020-03-26 02:53] cHaLkdusT commented on #822
Looks like someone's forgetting his Swift basics 😅 I'll update the thread. Thanks @LucianoPAlmeida!

[2020-03-26 02:58] LucianoPAlmeida commented on #822
Also, It maybe will have to be another thing different than `//`, I'm not sure but I think the parser will think that it is a comment block :)
In python this works because the comment is #